{% extends 'classroom/base_app.html' %}
{% load humanize %}

{% block body_css %}

{% endblock %}

{% block title_nav %} {{ course.title }} {% endblock %}

{% block classroom_menu %}
    {% include 'ext/classroom_menu.html' with course=course %}
{% endblock %}

{% block body_block %}

<div class="container-fluid py-lg-5 pb-5">
    <div class="row">
        <div class="col-12 col-lg-9 mb-3">
            <h3>Tugas</h3>
        </div>
    </div>
    {% for exam in course.exams %}
        <div class="row">
            <div class="col-12 col-lg-9 mb-3">
                <div class="card">
                    <div class="card-header">Nomor {{forloop.counter}}</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="small text-muted">Batas Pengumpulan :</div>
                                <div class="d-flex align-items-center">
                                    <i class="las la-calendar-day" style="font-size: 1.5em;"></i>
                                    <span class="ml-2">{{exam.close_at|date}} {{exam.close_at|time:'H:i'}}</span>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <div class="small text-muted">Pertanyaan :</div>
                                <p>
                                    {{exam.question|safe}}
                                </p>
                                <hr class="my-4">
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <a href="{% url 'app:examanswer' exam.id %}" class="btn btn-primary">Kumpulkan</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

</div>

{% endblock %}