{% extends 'classroom/base_app.html' %}
{% load humanize %}
{% load custom_filter %}

{% block title_nav %} {{ exam.course }} {% endblock %}

{% block classroom_menu %}
    {% include 'ext/classroom_menu.html' with course=exam.course %}
{% endblock %}

{% block body_block %}

<div class="container-fluid pb-5">
    <div class="row">
        <div class="col-12 col-lg-11 mb-3">
            <h4>Tugas</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-11 mb-3">
            {% include 'ext/card_exam.html' with exam=exam %}
        </div>
        <div class="col-12 col-lg-11 mb-3">
            <div class="card">
                <div class="card-header">Jawaban Saya</div>
                <div class="card-body">
                    <div class="row" >
                        {% if examanswer %}
                            <div class="col-12 mb-3">
                                <form method="post" action="{% url 'app:examanswer-update' examanswer.id %}" >
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{form.as_p}}
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Kumpulkan Sekarang</button>
                                    </div>
                                </form>
                            </div>
                        {% else %}
                            <div class="col-12">
                                <form method="post" action="{% url 'app:examanswer' view.kwargs.exam_pk %}">
                                    {% csrf_token %}
                                    {{form.as_p}}
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Submit Jawaban</button>
                                    </div>
                                </form>
                            </div>
                        {% endif %} 
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-11 mb-3">
            <div class="card">
                <div class="card-header">Projek</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-6 order-lg-2">
                            <div class="small text-muted">List Projek</div>
                            {% if examanswer %}
                                <ul class="list-group">
                                    {% for examproject in examanswer.projects %}
                                        <li href="{{examproject.url_project}}" class="list-group-item d-flex justify-content-between align-items-center">
                                            <a href="{{examproject.url_project}}" target="_blank" class="text-primary">
                                                {{examproject.title}}
                                            </a>
                                            <form id='DeleteExamProject{{examproject.id}}' method="post" action="{% url 'app:examproject-delete' examproject.id %}">
                                                {% csrf_token %}
                                                <a href="javascript:void(0)" onclick="document.getElementById('DeleteExamProject{{examproject.id}}').submit();" class="text-danger">
                                                    <i class="las la-trash"></i>
                                                </a>
                                            </form>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="col-12 col-lg-6 order-lg-1">
                            <div class="small text-muted">Form Projek</div>
                            <form class="pt-2" method="post" action="{% url 'app:examproject' exam.id %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form_examproject.title }}
                                    {{ form_examproject.title.errors }}
                                </div>
                                <div class="form-group">
                                    {{ form_examproject.url_project }}
                                    {{ form_examproject.url_project.errors }}
                                </div>
                                <div class="form-group mt-4">
                                    <button type="submit" class="btn btn-primary">Tambahkan Projek</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

