{% extends 'classroom/base_app.html' %}
{% load humanize %}
{% load static %}

{% block body_css %}
<style>
  .card.callout {
    border-left: 5px solid #3abcd8 !important;
  }

  .img-media {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
</style>
{% endblock %}

{% block title_nav %} {{ course.title }} {% endblock %}

{% block classroom_menu %}
    {% include 'ext/classroom_menu.html' with course=course %}
{% endblock %}

{% block body_block %}

<div class="container-fluid mb-5">
  <div class="row mt-lg-5">
    <div class="col-12 col-lg-11 mb-3">
      <h5>{{session.title}}</h5>
    </div>
    <div class="col-12 col-lg-11 mb-3">
      <p>
        {{session.description|safe|default:"Tidak Ada Deskripsi"}}
      </p>
      <div class="d-flex text-muted small">
        <span class="mr-3 d-flex align-items-center">
          <i class="las la-calendar-day" style="font-size: 1.5em;"></i>
          <span class="ml-2">{{session.start_at|date }}</span>
        </span>
        <span class="mr-3 d-flex align-items-center">
          <i class="las la-clock" style="font-size: 1.5em;"></i>
          <span class="ml-2">{{session.start_at|time }}</span>
        </span>
        <span class="mr-3 d-flex align-items-center">
          <i class="las la-calendar-check" style="font-size: 1.5em;"></i>
          <span class="ml-2">{{session.start_at|naturaltime }}</span>
        </span>
      </div>
    </div>
    <div class="col-12 col-lg-11 mb-3">
      
    {% include 'ext/session_button.html' with course=course session=session %}

    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-11 mb-3">
      <div class="card">
        <div class="card-header">File Modul</div>
        <div class="card-body">
          <div class="list-group list-group-flush">
            {% include 'ext/session_data.html' with session_datas=session.session_datas %}
          </div>
        </div>
      </div>
    </div>
    <!-- DISQUS -->
    <div class="col-12 col-lg-11 mb-3">
      <!-- required to block body js to load disqus js below body tag -->
      {% include 'ext/session_disqus.html' with session=session %}
    </div>
  </div>
</div>

{% endblock %}

{% block body_js %}
  <script id="dsq-count-scr" src="//muse-akademi.disqus.com/count.js" async></script>
{% endblock %}