{% extends 'classroom/base_app.html' %}
{% load humanize %}

{% block title_nav %} {{ course.title }} {% endblock %}

{% block classroom_menu %}
    {% include 'ext/classroom_menu.html' with course=course %}
{% endblock %}

{% block body_block %}

<div class="container-fluid pb-5">
    <div class="row">
        <div class="col-12 col-lg-11 mb-3">
            <h4>Tugas</h4>
        </div>
    </div>
    {% for exam in course.exams %}
        <div class="row">
            <div class="col-12 col-lg-11 mb-3">
                {% include 'ext/card_exam.html' with exam=exam %}
            </div>
        </div>
    {% endfor %}

</div>

{% endblock %}