{% extends 'base_app.html' %}
{% load custom_filter %}
{% load widget_tweaks %}
{% load static %}

{% block body_css %}
<link rel="stylesheet" href="{% static 'app/css/course.css' %}" />
<style>
    .accordion .nav-link {
        cursor: pointer;
        font-size: 12px;
        color: #3abcd8 !important;
        border-bottom: 2px solid #3abcd8;
    }
    .accordion .nav-link.collapsed {
        color: black !important;
        border-bottom: 0;
    }

    #formFilter input {
        font-size: 14px;
    }
</style>
{% endblock %}

{% block body_block %}

<div class="container py-lg-5">
    <div class="row pt-3">
        <div class="col-12 mb-3">
          <h5>Kursus</h5>
          <p>
            Temukan kursus yang sesuai dengan minat Anda
          </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-3 mb-3">
            <form id="formFilter" method="get">
                <div class="input-group mb-3">
                    {% render_field filter.form.title__icontains    class="form-control" type="search" aria-label="search-input" placeholder="Cari apa yang ingin Anda pelajari" %}
                    <div class="input-group-append">
                        <span class="input-group-text bg-white" id="search-addon">
                            <i class="las la-search"></i>
                        </span>
                    </div>
                </div>
                <div class="accordion" id="accordionFilterSort">
                    <ul class="nav nav-fill" id="filterSortTab" role="tablist">
                        <li class="nav-item" role="presentation" id="headingFilter">
                            <a class="nav-link collapsed" data-toggle="collapse" 
                                data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                                <i class="las la-filter"></i>
                                <span class="ml-2">Filter</span>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation" id="headingSort">
                            <a class="nav-link collapsed" data-toggle="collapse" 
                                data-target="#collapseSort" aria-expanded="false" aria-controls="collapseSort">
                                <i class="las la-sort-amount-down-alt"></i>
                                <span class="ml-2">Urutkan</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content mt-2" id="filterSortTabContent">
                        <div id="collapseFilter" class="collapse" aria-labelledby="headingFilter" data-parent="#accordionFilterSort">
                            <div class="form-group">
                                <label>Kategori</label>
                                {% render_field filter.form.category            class="form-control"  %}
                            </div>
                            <div id="range-price" class="form-group">
                                <label>Harga</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Rp</span>
                                    </div>
                                    {% render_field filter.form.price__gte class="form-control" type="number"   v-model="rangeValMin" %}
                                </div>
                                <div class="text-center">
                                    <i class="las la-ellipsis-v"></i>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Rp</span>
                                    </div>
                                    {% render_field filter.form.price__lte   class="form-control" type="number"  v-model="rangeValMax" %}
                                </div>
                            </div>
                            <div id="range-period" class="form-group">
                                <label>Periode</label>
                                {% render_field filter.form.start_at__gt        class="form-control" type='date' %}
                                <div class="text-center">
                                    <i class="las la-ellipsis-v"></i>
                                </div>
                                {% render_field filter.form.start_at__lt        class="form-control" type='date' %}
                            </div>
                            <button type="submit" class="btn btn-sm btn-block btn-primary">Tampilkan</button>

                        </div>

                        <div id="collapseSort" class="collapse" aria-labelledby="headingSort" data-parent="#accordionFilterSort">
                            <div class="form-group">
                                {% render_field filter.form.order_by        class="form-control" %}
                            </div>

                            <button type="submit" class="btn btn-sm btn-block btn-primary">Tampilkan</button>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>

        <div class="col-12 col-lg-9 mb-3">
            <div class="list-courses row">
                {% for course in courses %}
                    {% include 'ext/course.html' with course=course %}
                {% empty %}
                <div class="col-12 text-muted p-5 text-center">Tidak ada kursus.</div>
                {% endfor %}
              </div>
            {% include 'ext/pagination.html' %}
        </div>
    </div>
</div>

{% endblock %}

{% block body_js %}
<script>
    const rangePrice = new Vue({
        el: '#range-price',
        data: {
            rangeStep: 10000,
            rangeValMin: 0,
            rangeValMax: 100000,
        },
        computed: {
            changeRangeMin: function() {
                return parseInt(this.rangeValMin) + parseInt(this.rangeStep);
            },
            changeRangeMax: function() {
                return parseInt(this.rangeValMax) - parseInt(this.rangeStep);
            },
        }
    });
</script>
{% endblock %}