{% extends 'base_app.html' %}
{% load custom_filter %}
{% load static %}

{% block body_css %}
<link rel="stylesheet" href="{% static 'app/css/course.css' %}" />
<style>
    .session-course-item {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .session-course-item i {
        font-size: 48px;
        margin-right: 5px;
    }

    .session-course-item div {
        display: flex;
        flex-direction: column;
    }

    .session-course-title {
        font-weight: bold;
        font-size: 0.9em;
    }

    .session-course-detail {
        display: flex;
        flex-direction: column;
    }

    .session-course-detail span {
        font-size: 0.8em;
    }

    .session-course-detail i {
        font-size: 1.2em;
    }

    @media (max-width: 768px) {
        #imgcover {
            transform: scale(1.1);
            margin-bottom: 10px;
        }
    }

    @media (min-width: 992px) {
        .right-side {
            position: -webkit-sticky;
            position: sticky;
            top: 100px;
        }

        .session-course-detail {
            flex-direction: row;
        }

        .session-course-detail i {
            margin-left: 10px;
        }
    }
</style>
{% endblock %}

{% block body_block %}
<div class="container mb-5">
    <div class="row mt-lg-5">
        <div class="col-12 col-lg-5 order-lg-2 mb-3">
            <div class="right-side">
                <img id="imgcover" src="{{course.course_pic|course_pic}}" width="100%" alt="">
                <h3 class="mt-4 mb-2"> 
                    {% if course.is_free %} 
                        Gratis
                    {% else %} 
                        Rp {{course.get_price}}
                        {% if course.discount %}
                        <span class="text-muted small"><del>Rp {{course.price}}</del></span>
                        {% endif %}
                    {% endif %}
                </h3>
                {% if course.is_have %}
                <a href="{% url 'app:classroom-redirect' course.id %}" class="btn btn-danger btn-block btn-lg">Masuk
                    Kursus</a>
                {% else %}
                <a href="{% url 'app:checkout' course.id %}" class="btn btn-danger btn-block btn-lg">Beli Kursus</a>
                {% endif %}
            </div>

        </div>
        <div class="col-12 col-lg-7 order-lg-1">
            <h4>{{course.title}}</h4>

            <div class="small d-flex">
                <div class="mr-2">
                    <i class="las la-calendar-day"></i>
                    <span class="ml-1">{{ course.start_at }} - {{ course.close_at }}</span>
                </div>
                <div>
                    <i class="las la-tag"></i>
                    <span class="ml-1">{{course.type_str}}</span>
                </div>
            </div>

            <div class="mt-4">
                <h6>Deskripsi</h6>
                <p class="small">{{ course.description|safe }}</p>
            </div>
            <div class="my-4">
                <h6>Jadwal Sesi Kursus</h6>
                {% for session in course.sessions %}
                <div class="card mb-2">
                    <div class="session-course-item">
                        <i class="las la-calendar-day text-primary"></i>
                        <div>
                            <strong>{{session.title}}</strong>
                            <span class="text-muted session-course-detail">
                                <span>{{ session.start_at }}</span>
                                <span>
                                    <i class="las la-user-tie"></i>
                                    {% include 'ext/mentors.html' with mentors=session.mentor.all %}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="text-center small">Belum ada sesi.</div>
                {% endfor %}
            </div>
            


        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <h6>Mentor</h6>
            <div class="d-flex flex-row flex-nowrap overflow-auto row my-4">
                {% for mentor in course.mentors %}
                <div class="col-9 col-lg-3 media mr-4 mb-2" style="flex: none;">
                    <img src="{{ mentor.profile_pic|profile_pic }}" class="mr-3" alt="..."
                        style="width: 64px; border-radius: 50%">
                    <div class="media-body">
                        <a href="{% url 'mentor:profile' mentor.id %}" class="text-dark"><strong>{{ mentor }}</strong></a>
                        <div class="small">
                            {{ mentor.mentor_data.headline }}
                            {% if mentor.mentor_data.institution %}
                                di <span class="text-primary">{{ mentor.mentor_data.institution }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% empty %}
                <span class="small"><em>Tidak ada mentor.</em></span>
                {% endfor %}
            </div>
            
            <h6>Kursus yang mungkin Anda sukai</h6>
            <div class="list-courses d-flex flex-row flex-nowrap overflow-auto align-items-center my-4">
                {% for course in course.relevant_courses %}
                <div class="col-6 col-lg-3 mb-3">
                    {% include 'ext/course.html' with course=course %}
                </div>
                {% empty %}
                <div class="text-muted p-5 text-center">Tidak ada kursus.</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}