{% extends 'base_app.html' %}
{% load custom_filter %}
{% load static %}

{% block body_css %}
    <style>
        .session-course-item {
            display: flex;
            align-items: center;
            padding: 5px;
        }
        
        .session-course-item i {
            font-size: 48px;
            margin-right: 5px;
        }
        
        .session-course-item div {
            display: flex;
            flex-direction: column;
        }
        
        .session-course-title {
            font-weight: bold;
            font-size: 0.9em;
        }
        
        .session-course-detail {
            display: flex;
            flex-direction: column;
        }
        
        .session-course-detail span{
            font-size: 0.8em;
        }
        
        .session-course-detail i {
            font-size: 1.2em;
        }

        @media (min-width: 992px) {
            #imgcover {
                position: -webkit-sticky;
                position: sticky;
                top: 100px;
            }

            .session-course-detail {
                flex-direction: row;
            }
        
            .session-course-detail i {
                margin-left: 10px;
            }
        }
    </style>
{% endblock %}

{% block body_block %}
<div class="container mb-5">
    <div class="row mt-lg-5">
        <div class="col-12 col-lg-5 order-lg-2 mb-3">
            <img id="imgcover" src="{{course.course_pic|course_pic}}" width="100%" alt="">
        </div>
        <div class="col-12 col-lg-7 order-lg-1">
            <h4>{{course.title}}</h4>
            <div class="small d-flex">
                <div class="mr-2">
                    <i class="las la-calendar-day"></i>
                    <span class="ml-1">{{ course.start_at }} - {{ course.close_at }}</span>
                </div>
                <div>
                    <i class="las la-tag"></i>
                    <span class="ml-1">{{course.type_str}}</span>
                </div>
            </div>
            <h6 class="my-3"> {% if course.is_free %} Free {% else %} Rp {{course.price}} {% endif %}</h6>
            {% if course.is_have %}
                <a href="{% url 'app:classroom-redirect' course.id %}" class="btn btn-danger">Masuk Kursus</a>
            {% else %}
                <a href="{% url 'app:checkout' course.id %}" class="btn btn-danger">Beli Kursus</a>
            {% endif %}
            <div class="mt-5">
                <h6>Deskripsi</h6>
                <p class="small">{{ course.description }}</p>
            </div>
            <div class="my-4">
                <h6>Jadwal Sesi Kursus</h6>
                {% for session in course.sessions %}
                <div class="card mb-2">
                    <div class="session-course-item">
                        <i class="las la-calendar-day text-primary"></i>
                        <div>
                            <a href="#" 
                                class="session-course-title">{{session.title}}</a>
                            <span class="text-muted session-course-detail">
                                <span>{{ session.start_at }}</span>
                                <span>
                                    <i class="las la-user-tie"></i>
                                        {% include 'ext/mentors.html' with mentors=session.mentor.all %}
                                    </span>
                            </span>
                        </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="text-center small">Belum ada sesi.</div>
                {% endfor %}
            </div>
            <h6>Mentor</h6>
            <div class="d-flex flex-row flex-nowrap overflow-auto my-4">
                {% for mentor in course.mentors %}
                <div class="media mr-4 mb-2" style="flex: none;">
                    <img src="{{ mentor.profile_pic|profile_pic }}" class="mr-3" alt="..." style="width: 64px; border-radius: 50%">
                    <div class="media-body">
                        <a href="{% url 'mentor:profile' mentor.id %}"><strong>{{ mentor }}</strong></a>
                        <div class="small">{{ mentor.email }}</div>
                        <div class="small">@{{ mentor.username }}</div>
                    </div>
                </div>
                {% empty %}
                    <span class="small"><em>Tidak ada mentor.</em></span>
                {% endfor %}
            </div>
            
            
            {% comment %} <h5>Penilaian Kursus</h5>
            <div>
                <div class="card p-3 small">
                    <div class="media">
                        <img src="{% static 'img/blank-avatar.png' %}" class="mr-3" alt="..." style="width: 36px; border-radius: 50%">
                        <div class="media-body">
                            <span class="mt-0"><strong>ANonym</strong></span>
                            <div>
                                <strong>4,7</strong>
                                <span class="ml-2 text-warning">
                                    <i class="las la-star"></i>
                                    <i class="las la-star"></i>
                                    <i class="las la-star"></i>
                                    <i class="las la-star"></i>
                                    <i class="las la-star"></i>
                                </span>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, voluptates?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-center py-3 mb-5">
                    <a href="#!" class="text-link small">Lebih Banyak</a>
                </div>
            </div> {% endcomment %}

        </div>

    </div>
</div>
{% endblock %}