{% extends 'classroom/base_app.html' %}
{% load humanize %}
{% load static %}

{% block body_css %}
<link rel="stylesheet" href="{% static 'app/css/dashboard-classroom.css' %}">
{% endblock %}

{% block title_nav %} {{ course.title }} {% endblock %}

{% block classroom_menu %}
    {% include 'ext/classroom_menu.html' with course=course %}
{% endblock %}

{% block body_block %}

<div class="container-fluid py-lg-5 pb-5">
    <div class="row pt-3">
        <div class="col-12 mb-3">
            <h5>Dashboard</h5>
        </div>
    </div>
    <div class="statistic-row mb-3">
        <div class="statistic-col card">
            <div class="statistic-item">
                <i class="las la-briefcase text-primary"></i>
                <div>
                    <h4>2</h4>
                    <span class="text-muted">Kursus Aktif</span>
                </div>
            </div>
        </div>
        <div class="statistic-col card">
            <div class="statistic-item">
                <i class="las la-dice-three text-primary"></i>
                <div>
                    <h4>100</h4>
                    <span class="text-muted">Nilai Penugasan</span>
                </div>
            </div>
        </div>
        <div class="statistic-col card">
            <div class="statistic-item">
                <i class="las la-clipboard-list text-primary"></i>
                <div>
                    <h4>80</h4>
                    <span class="text-muted">Nilai Ujian Akhir</span>
                </div>
            </div>
        </div>
        <div class="statistic-col card">
            <div class="statistic-item">
                <i class="las la-clipboard-check text-primary"></i>
                <div>
                    <h4>{{library.summary|default_if_none:"Belum ada score"}}</h4>
                    <span class="text-muted">Nilai Akhir</span>
                </div>
            </div>
        </div>
    </div>

    {% include 'ext/classroom_session.html' with sessions=course.sessions %}
</div>
{% endblock %}