{% extends 'base_app.html' %}
{% load static %}
{% load custom_filter %}

{% block body_css %}
<link rel="stylesheet" href="{% static 'app/css/dashboard.css' %}">
{% endblock %}

{% block body_block %}

<div class="container py-lg-5">
    <div class="row pt-3">
      <div id="header-dashboard" class="col-12 mb-3">
        <h5>Dashboard</h5>
        <p>
          Hai, {{ user.firstname }}! <span v-html="selectedSmiley"></span>
        </p>
      </div>
    </div>
    {% with courses=user.courses %}
    <div class="row">
      <div class="col-12 col-lg-7">
        <span class="text-muted"><small>Statistik Kursus</small></span>
        <div class="statistic-row my-2">
          <div class="statistic-col card">
            <div class="statistic-item">
              <i class="las la-briefcase text-primary"></i>
              <div>
                <h4>{{courses|list_status:"active"|length}}</h4>
                <span class="text-muted">Kursus Aktif</span>
              </div>
            </div>
          </div>
          <div class="statistic-col card">
            <div class="statistic-item">
              <i class="las la-briefcase text-primary"></i>
              <div>
                <h4>{{courses.all|length}}</h4>
                <span class="text-muted">Total Kursus</span>
              </div>
            </div>
          </div>
          <div class="statistic-col card">
            <div class="statistic-item">
              <i class="las la-briefcase text-primary"></i>
              <div>
                <h4>{{courses|list_status:"done"|length}}</h4>
                <span class="text-muted">Kursus Selesai</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12 mb-3">
            <div class="card">
              <div class="card-body">
                chart
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <span class="text-muted"><small>Jadwal Kursus Akan Datang</small></span>
        <div class="row">
          {% for session in user.session_active.all  %}
          <div class="col-12 mb-3">
            <div class="card">
              <div class="schedule-course-item">
                <i class="las la-calendar-day text-primary"></i>
                <div>
                  <span>
                    <a href="{% url 'app:classroom-session' session.id %}" 
                      class="schedule-course-title">{{session.title}}
                    </span>
                  <span class="text-muted schedule-course-detail">
                    <span>{{session.start_at}}</span>
                    <span>
                      <i class="las la-user-tie"></i>
                        {% include 'ext/mentors.html' with mentors=session.mentor.all %}
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          
          {% empty %}
            <div class="col-12 mb-3 text-center small">Tidak ada jadwal.</div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endwith %}
  </div>

{% endblock %}

{% block body_js %}
<script>
 const headerDashboard = new Vue ({
   el: '#header-dashboard',
   data: {
     smiley: ['128515','128075','128512','128513','128516','128578'],
     selectedSmiley: ''
   },
   created () {
      const idx = Math.floor(Math.random() * this.smiley.length);
      this.selectedSmiley = '&#'+this.smiley[idx]+';'
   }

 });
</script>
{% endblock %}