{% extends 'classroom/base_app.html' %}
{% load humanize %}
{% load static %}
{% load custom_filter %}

{% block body_css %}
<link rel="stylesheet" href="{% static 'app/css/dashboard-classroom.css' %}">
{% endblock %}

{% block title_nav %} {{ course.title }} {% endblock %}

{% block classroom_menu %}
    {% include 'ext/classroom_menu.html' with course=course %}
{% endblock %}

{% block body_block %}

<div class="container-fluid mb-5">
    <div class="row mt-lg-5">
        <div class="col-12 mb-3">
            <h4>Dashboard</h4>
        </div>
    </div>
    <div class="statistic-row mb-3">
        <div class="statistic-col card">
            <div class="statistic-item">
                <i class="las la-briefcase text-primary"></i>
                <div>
                    <h4>{{course.sessions.count}}</h4>
                    <span class="text-muted">Sesi Kursus</span>
                </div>
            </div>
        </div>
        <div class="statistic-col card">
            <div class="statistic-item">
                <i class="las la-dice-three text-primary"></i>
                <div>
                    <h4>{{course.exams.count|subtract:library.user_exam_answer.count}}</h4>
                    <span class="text-muted">Tugas Belum Dikerjakan</span>
                </div>
            </div>
        </div>
        <div class="statistic-col card">
            <div class="statistic-item">
                <i class="las la-clipboard-list text-primary"></i>
                <div>
                    <h4>{{library.user_exam_answer.count}}</h4>
                    <span class="text-muted">Tugas Selesai</span>
                </div>
            </div>
        </div>
        <div class="statistic-col card">
            <div class="statistic-item">
                <i class="las la-clipboard-check text-primary"></i>
                <div>
                    <h4>{{library.summary|default_if_none:"?"}}</h4>
                    <span class="text-muted">Nilai Akhir</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-pills" id="tabDashboard" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="session-tab" data-toggle="tab" href="#session" role="tab" aria-controls="session" aria-selected="true">Jadwal Sesi</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="forum-tab" data-toggle="tab" href="#forum" role="tab" aria-controls="forum" aria-selected="false">Forum Diskusi</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="report-tab" data-toggle="tab" href="#report" role="tab" aria-controls="report" aria-selected="false">Evaluasi Nilai</a>
                </li>
            </ul>
            <div class="tab-content" id="tabDashboardContent">
                <div class="tab-pane fade show active" id="session" role="tabpanel" aria-labelledby="session-tab">
                    <ul class="list-group list-group-flush mt-2">
                        {% include 'ext/classroom_session.html' with sessions=course.sessions %}
                    </ul>  
                </div>
                <div class="tab-pane fade" id="forum" role="tabpanel" aria-labelledby="forum-tab">
                    <div class="mt-2">
                        {% include 'ext/course_disqus.html' with course=course %}
                    </div> 
                </div>
                <div class="tab-pane fade" id="report" role="tabpanel" aria-labelledby="report-tab">
                    <div class="card mt-2">
                        <div class="card-header">Evaluasi Nilai</div>
                        <div class="card-body">
                            {% include 'ext/report_table.html' with evaluations=library.mentor_evaluation %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}