{% extends 'base_app.html' %}
{% load static %}
{% load custom_filter %}

{% block body_css %}
<link rel="stylesheet" href="{% static 'app/css/dashboard.css' %}">
{% endblock %}

{% block body_block %}

<div class="container mb-5">
	<div class="row mt-lg-5">
		<div id="header-dashboard" class="col-12 mb-3">
			<h5>Dashboard</h5>
			<p>

				
				Hai, {{ user.firstname }}! <span v-html="selectedSmiley"></span>
			</p>
		</div>
	</div>
	{% with courses=user.courses %}
	<div class="row">
		<div class="col-12 col-lg-7">
			<span class="text-muted"><small>Statistik Kursus</small></span>
			<div class="statistic-row my-2">
				<div class="statistic-col card">
					<div class="statistic-item">
						<i class="las la-briefcase text-primary"></i>
						<div>
							<h4>{{courses|list_status:"active"|count_query}}</h4>
							<span class="text-muted">Kursus Aktif</span>
						</div>
					</div>
				</div>
				<div class="statistic-col card">
					<div class="statistic-item">
						<i class="las la-briefcase text-primary"></i>
						<div>
							<h4>{{courses.all|count_query}}</h4>
							<span class="text-muted">Total Kursus</span>
						</div>
					</div>
				</div>
				<div class="statistic-col card">
					<div class="statistic-item">
						<i class="las la-briefcase text-primary"></i>
						<div>
							<h4>{{courses|list_status:"done"|count_query}}</h4>
							<span class="text-muted">Kursus Selesai</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col-12 mb-3">
					<div class="card">
						<div class="card-body">
							<div id="chart"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-5">
			{% include 'ext/coming_soon_sessions.html' with sessions=user.session_active.all %}
		</div>
	</div>
	{% endwith %}
</div>

{% endblock %}

{% block body_js %}
<script>
	const headerDashboard = new Vue({
		el: '#header-dashboard',
		data: {
			smiley: ['128515', '128075', '128512', '128513', '128516', '128578'],
			selectedSmiley: ''
		},
		created() {
			const idx = Math.floor(Math.random() * this.smiley.length);
			this.selectedSmiley = '&#' + this.smiley[idx] + ';'
		}

	});
</script>

<script src="https://code.highcharts.com/highcharts.js"></script>

<script type="text/javascript">
	Highcharts.chart('chart', {
		chart: {
            type: 'column'
        },
        title: {
            text: 'Perolehan Nilai per Kursus'
        },
        xAxis: {
            categories: ['Multimedia', 'Fotografi', 'Animasi' ]
        },
        series: [{
			name: 'Nilai',
            data: [90, 100, 75]
        }]
	});
</script>
{% endblock %}