{% extends 'base_app.html' %}
{% load custom_filter %}
{% load static %}
{% load humanize %}

{% block body_css %}
<link rel="stylesheet" href="{% static 'app/css/landingpage.css' %}" />
<link rel="stylesheet" href="{% static 'app/css/course.css' %}" />
{% endblock %}

{% block body_block %}
<!-- Section Hero -->
<section id="section-hero">
    <div class="container">
        <div class="d-flex row py-5">
            <div class="order-1 order-lg-2 col-sm-12 col-lg-6">
                <img src="{% static 'app/img/illustration-banner.png' %}" class="mx-auto d-block" />
            </div>
            <div class="order-2 order-lg-1 col-sm-12 col-lg-6">
                <p class="hero-header px-4">
                    Muse Akademi Bring Indonesian <br>
                    Excellence Learning Skills
                </p>
                <p class="hero-description px-4">
                    Kursus online berbasis multimedia dan inovasi pengembangan <em>life skill</em> untuk memenuhi
                    kapasitas keahlian generasi muda Indonesia dalam meningkatkan professionalisme di dunia kerja secara
                    global.
                </p>
                <form action="{% url 'app:courses' %}" method="get">
                    <div class="input-group mx-4">
                        <input type="search" name="title" class="form-control" aria-label="search-input"
                            placeholder="Cari apa yang ingin Anda pelajari" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">
                                <i class="las la-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Section Services -->
<section id="section-services" class="p-2 mb-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-4">
                <div class="service-item mt-3">
                    <div class="row">
                        <div class="col-2 pt-2">
                            <img src="{% static 'app/img/service1.png' %}" />
                        </div>
                        <div class="col-10 pl-4">
                            <h6 class="text-white"><b>Standar Industri</b></h6>
                            <p class="text-white">
                                Menggunakan kurikulum adaptif dengan konsep DMSO
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="service-item mt-3">
                    <div class="row">
                        <div class="col-2 pt-2">
                            <img src="{% static 'app/img/service2.png' %}" />
                        </div>
                        <div class="col-10 pl-4">
                            <h6 class="text-white"><b>Live Streaming</b></h6>
                            <p class="text-white">
                                Pembelajaran dilakukan dengan tatap muka secara online dan live
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="service-item mt-3">
                    <div class="row">
                        <div class="col-2 pt-2">
                            <img src="{% static 'app/img/service3.png' %}" />
                        </div>
                        <div class="col-10 pl-4">
                            <h6 class="text-white"><b>Sertifikasi</b></h6>
                            <p class="text-white">
                                Dapatkan sertifikat keahlian setelah mengikuti kursus
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section Courses -->
<section id="section-courses" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-between mb-3">
                <h5><strong>Kursus Akan Datang</strong></h5>
                <a href="{% url 'app:courses' %}" class="section-header-btn btn btn-sm btn-primary">Lihat Semua</a>
            </div>
            <div class="col-12 mb-3">
                <div class="list-courses d-flex flex-row flex-nowrap overflow-auto align-items-center">
                    {% for course in courses %}
                        <div class="col-6 col-lg-3 mb-3">
                        {% include 'ext/course.html' with course=course %}
                        </div>
                    {% empty %}
                        <div class="col-12 text-muted p-5 text-center">Tidak ada kursus.</div>
                    {% endfor %}

                    <a href="{% url 'app:courses' %}" class="px-4 d-lg-none text-center">
                        <i class="las la-arrow-circle-right la-2x"></i>
                        <div>Lihat<br />Semua</div>
                    </a>
                </div>
            </div>
        </div>
        {% if courses_free|length > 0 %}
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-between mb-3">
                <h5><strong>Kursus Gratis</strong></h5>
                <a href="{% url 'app:courses' %}?free=yes" class="section-header-btn btn btn-sm btn-primary">Lihat Semua</a>
            </div>
            <div class="col-12 mb-3">
                <div class="list-courses d-flex flex-row flex-nowrap overflow-auto align-items-center">
                    {% for course in courses_free %}
                        <div class="col-6 col-lg-3 mb-3">
                        {% include 'ext/course.html' with course=course %}
                        </div>
                    {% endfor %}

                    <a href="{% url 'app:courses' %}" class="px-4 d-lg-none text-center">
                        <i class="las la-arrow-circle-right la-2x"></i>
                        <div>Lihat<br />Semua</div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        {% if courses|length > 0 %}
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-between mb-3">
                <h5><strong>Mitra Muse Akademi</strong></h5>
                <a href="{% url 'app:courses' %}" class="section-header-btn btn btn-sm btn-primary">Lihat Semua</a>
            </div>
            <div class="col-12 mb-3">
                <div class="list-courses d-flex flex-row flex-nowrap overflow-auto align-items-center">
                    {% for course in courses %}
                        <div class="col-6 col-lg-3 mb-3">
                        {% include 'ext/course.html' with course=course %}
                        </div>
                    {% endfor %}

                    <a href="{% url 'app:courses' %}" class="px-4 d-lg-none text-center">
                        <i class="las la-arrow-circle-right la-2x"></i>
                        <div>Lihat<br />Semua</div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>

<!-- Section Categories -->
<section id="section-categories" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col justify-content-sm-center justify-content-lg-start">
                <div class="section-header">
                    <h5 class="section-title text-white">
                        <b>Kategori Kursus</b>
                    </h5>
                    <p class="section-description text-white">
                        Paling banyak dicari oleh siswa di Indonesia
                    </p>
                </div>
            </div>
        </div>
        <div id="list-categories" class="row">
            {% for category in categories %}
            <div class="col-lg-3 col-6 mb-3">
                <a href="{% url 'app:courses' %}?category={{category.id}}">
                    <div class="category-items">
                        <div class="media d-flex align-items-center">
                            <img class="mr-3" src="{{category.category_pic|category_pic}}" />
                            <div class="media-body">
                                <h6 class="mt-0 mb-1 text-small">
                                    <small><b>{{category.name}}</b></small>
                                </h6>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Section Contact -->
<section id="section-contact" class="py-5">
    <div class="container">
        <div class="row">
            <!-- header-map -->
            <div class="col-12 d-lg-none justify-content-sm-center justify-content-lg-between">
                <div class="section-header">
                    <h5 class="section-title"><b>Lokasi Kantor</b></h5>
                    <p class="section-description">
                        Anda dapat mengunjungi kantor kami saat jam kerja
                    </p>
                </div>
            </div>
            <!-- map -->
            <div class="col-12 order-lg-3 col-lg-6 mb-5">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d987.7965627577654!2d112.65960255599809!3d-7.979691598994575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb0a21913e0b89d!2sJl.%20Selat%20Karimata%20No.E6%2F1%2C%20Lesanpuro%2C%20Kec.%20Kedungkandang%2C%20Kota%20Malang%2C%20Jawa%20Timur%2065138!5e0!3m2!1sid!2sid!4v1596089738723!5m2!1sid!2sid"
                        frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
            <!-- header-contact-form -->
            <div class="col-12 order-lg-1 justify-content-sm-center justify-content-lg-between">
                <div class="section-header">
                    <h5 class="section-title"><b>Hubungi Kami</b></h5>
                    <p class="section-description">
                        Berikan masukan dan saran Anda melalui kontak form dibawah
                    </p>
                </div>
            </div>
            <!-- contact-form -->
            <div class="col-12 order-lg-2 col-lg-6">
                <form action="#!">
                    <div class="form-group">
                        <label for="name">Nama</label>
                        <input type="text" id="name" name="name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="message">Pesan</label>
                        <textarea name="message" id="message" class="form-control" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Kirim Pesan
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block body_js %}
<script>
    console.log('index');
</script>
{% endblock %}