{% extends 'base_app.html' %}
{% load custom_filter %}
{% load static %}

{% block body_css %}
<link rel="stylesheet" href="{% static 'app/css/course.css' %}" />
{% endblock %}

{% block body_block %}

<div id="user-courses" class="container py-lg-5">
  <div class="row pt-3">
    <div class="col-12 mb-3">
      <h5>Kursus Saya</h5>
      <p>
        Kursus yang pernah Anda ikuti akan tersimpan pada halaman ini
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab"
            aria-controls="pills-all" aria-selected="true">Semua</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-new-tab" data-toggle="pill" href="#pills-new" role="tab"
            aria-controls="pills-new" aria-selected="false">Baru</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-active-tab" data-toggle="pill" href="#pills-active" role="tab"
            aria-controls="pills-active" aria-selected="false">Aktif</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-done-tab" data-toggle="pill" href="#pills-done" role="tab"
            aria-controls="pills-done" aria-selected="false">Selesai</a>
        </li>
      </ul>
      {% with courses=user.courses %}
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
          <div class="list-courses row">
            {% for course in courses.all  %}
              {% include 'ext/course.html' with course=course %}
            {% empty %}
            <div class="col-12 d-flex flex-column align-items-center">
              <img src="{% static 'app/img/empty.png' %}" class="my-4" alt="">
              <h5>Tidak ada kursus</h5>
              <p class="small text-muted text-center">
                  Anda belum pernah mengambil kursus di Muse Akademi.
              </p>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="tab-pane fade" id="pills-new" role="tabpanel" aria-labelledby="pills-new-tab">
          <div class="list-courses row">
            {% for course in courses.all|list_status:'new'  %}
              {% include 'ext/course.html' with course=course %}
              <div class="col-12 d-flex flex-column align-items-center">
                  <img src="{% static 'app/img/empty.png' %}" class="my-4" alt="">
                  <h5>Tidak ada kursus</h5>
                  <p class="small text-muted text-center">
                      Anda belum pernah mengambil kursus di Muse Akademi.
                  </p>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="tab-pane fade" id="pills-active" role="tabpanel" aria-labelledby="pills-active-tab">
          <div class="list-courses row">
            {% for course in courses.all|list_status:'active'  %}
              {% include 'ext/course.html' with course=course %}
            {% empty %}
              <div class="col-12 d-flex flex-column align-items-center">
                  <img src="{% static 'app/img/empty.png' %}" class="my-4" alt="">
                  <h5>Tidak ada kursus</h5>
                  <p class="small text-muted text-center">
                      Anda belum pernah mengambil kursus di Muse Akademi.
                  </p>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="tab-pane fade" id="pills-done" role="tabpanel" aria-labelledby="pills-contact-tab">
          <div class="list-courses row">
            {% for course in courses.all|list_status:'done'  %}
              {% include 'ext/course.html' with course=course %}
            {% empty %}
              <div class="col-12 d-flex flex-column align-items-center">
                  <img src="{% static 'app/img/empty.png' %}" class="my-4" alt="">
                  <h5>Tidak ada kursus</h5>
                  <p class="small text-muted text-center">
                      Anda belum pernah mengambil kursus di Muse Akademi.
                  </p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endwith %}
    </div>
  </div>
</div>

{% endblock %}

{% block body_js %}

{% endblock %}