{% extends 'base_app.html' %}
{% load custom_filter %}
{% load static %}

{% block body_css %}
<link rel="stylesheet" href="{% static 'app/css/course.css' %}" />
<style>
  @media (max-width: 768px) {
    .block-in-mobile {
      width: 100%;
    }
  }
</style>
{% endblock %}

{% block body_block %}

<div id="user-courses" class="container mb-5">
  <div class="row mt-lg-5">
    <div class="col-12 mb-3">
      <h5>Kursus Saya</h5>
      <p class="small text-muted">
        Kursus yang pernah Anda ikuti akan tersimpan pada halaman ini
      </p>
    </div>
  </div>
  <!-- Section Courses Mitra -->
  {% if request.user.is_authenticated and request.user.mitra_course_available.count > 0 %}
  <div class="row">
    <div class="col-12 mb-3">
      <h6>Segera Ambil Kursus Mitra Anda</h6>
      <div>
        {% include 'ext/library_course.html' with courses=request.user.mitra_course_available is_available=True  %}
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-12">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab"
            aria-controls="pills-all" aria-selected="true">Semua</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-new-tab" data-toggle="pill" href="#pills-new" role="tab"
            aria-controls="pills-new" aria-selected="false">Akan Datang</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-active-tab" data-toggle="pill" href="#pills-active" role="tab"
            aria-controls="pills-active" aria-selected="false">Aktif</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-done-tab" data-toggle="pill" href="#pills-done" role="tab"
            aria-controls="pills-done" aria-selected="false">Selesai</a>
        </li>
      </ul>
      {% with courses=user.courses %}
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
          
            {% include 'ext/library_course.html' with courses=courses.all %}
          
        </div>
        <div class="tab-pane fade" id="pills-new" role="tabpanel" aria-labelledby="pills-new-tab">
          
            {% include 'ext/library_course.html' with courses=courses.all|list_status:'new' %}
          
        </div>
        <div class="tab-pane fade" id="pills-active" role="tabpanel" aria-labelledby="pills-active-tab">
          
            {% include 'ext/library_course.html' with courses=courses.all|list_status:'active' %}
          
        </div>
        <div class="tab-pane fade" id="pills-done" role="tabpanel" aria-labelledby="pills-contact-tab">
          
            {% include 'ext/library_course.html' with courses=courses.all|list_status:'done' %}
          
        </div>
      </div>
      {% endwith %}
    </div>
  </div>
</div>

{% endblock %}

{% block body_js %}

{% endblock %}