{% extends 'base_app.html' %}
{% block body_block %}

<div class="container py-lg-5 pb-5">
    <div class="row pt-3">
        <div class="col-12 col-lg-3">
            {% include 'ext/side_menu.html' %}
        </div>
        <div class="col-12 col-lg-9">
            <h5>Order Detail</h5>

            id : {{order.id}}<br>
            invoice : {{order.invoice}}<br>
            course : {{order.course.title}}<br>
            price : {{order.price}}<br>
            status : {{order.status}}<br>
            status_display : {{order.get_status_display}}<br>
            
            {% if order.status not in 'WC,CO'  %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
            {% else %}
                tidak dapat mendapat mengganti bukti selama order status "WC,CO"
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}