{% extends 'base_app.html' %}
{% load custom_filter %}

{% block body_block %}

<div class="container py-lg-5 pb-5">
    <div class="row pt-3">
        <div class="col-12 col-lg-3">
            {% include 'ext/side_menu.html' %}
        </div>
        <div class="col-12 col-lg-9">
            <h5>Riwayat Transaksi</h5>
            <p class="small text-muted">
                Halaman ini memuat transaksi yang pernah Anda lakukan.
            </p>
                <ul class="nav nav-pills mb-3 d-flex flex-row flex-nowrap overflow-auto align-items-end" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab"
                        aria-controls="pills-all" aria-selected="true">Semua</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-waiting-tab" data-toggle="pill" href="#pills-waiting" role="tab"
                        aria-controls="pills-waiting" aria-selected="false">Menunggu Pembayaran</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-wait-confirm-tab" data-toggle="pill" href="#pills-wait-confirm" role="tab"
                        aria-controls="pills-wait-confirm" aria-selected="false">Menunggu Konfirmasi</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-done-tab" data-toggle="pill" href="#pills-done" role="tab"
                        aria-controls="pills-done" aria-selected="false">Selesai</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-unvalid-tab" data-toggle="pill" href="#pills-unvalid" role="tab"
                        aria-controls="pills-unvalid" aria-selected="false">Tidak Valid</a>
                    </li>
                </ul>
            {% with orders=user.orders.all %}
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
                    {% include 'ext/order_course.html' with orders=orders %}
                </div>
                <div class="tab-pane fade" id="pills-waiting" role="tabpanel" aria-labelledby="pills-waiting-tab">
                    {% include 'ext/order_course.html' with orders=orders|filter_order_status:"WP" %}
                </div>
                <div class="tab-pane fade" id="pills-wait-confirm" role="tabpanel" aria-labelledby="pills-wait-confirm-tab">
                    {% include 'ext/order_course.html' with orders=orders|filter_order_status:"WC" %}
                </div>
                <div class="tab-pane fade" id="pills-done" role="tabpanel" aria-labelledby="pills-done-tab">
                    {% include 'ext/order_course.html' with orders=orders|filter_order_status:"CO" %}
                </div>
                <div class="tab-pane fade" id="pills-unvalid" role="tabpanel" aria-labelledby="pills-unvalid-tab">
                    {% include 'ext/order_course.html' with orders=orders|filter_order_status:"DE" %}
                </div>
            </div>
            {% endwith %}
        </div>
    </div>
</div>


{% endblock %}