{% extends 'base_app.html' %}
{% block body_block %}

<div class="container py-lg-5 pb-5">
    <div class="row pt-3">
        <div class="col-12 col-lg-3">
            {% include 'ext/side_menu.html' %}
        </div>
        <div class="col-12 col-lg-9">
            <h5>Riwayat Transaksi</h5>
            <p class="small text-muted">
                Halaman ini memuat transaksi yang pernah Anda lakukan.
            </p>

            <ul class="list-group">
                {% for order in user.orders.all  %}
                    <li class="list-group-item">
                        <a href="{% url 'app:order-detail' order.id %}">{{order.course.title}} : {{order.get_status_display}} </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}