main img.logo {
  width: 30%;
}
main img.illustration {
  display: none;
  width: 60%;
  padding-top: 5%;
}

.btn-google {
  background-color: rgba(219, 222, 224, 0.7);
}

.btn-google:hover {
  background-color: rgba(219, 222, 224, 1);
}

footer {
  display: none;
}

@media (min-width: 768px) {
  main img.logo {
    display: none;
  }
  main img.illustration {
    display: inherit;
  }
  footer {
    display: inherit;
  }
}
