#list-courses .course-item {
  flex: none;
  width: 75%;
  padding-right: 15px;
}

.course-title,
.course-price {
  font-weight: bold;
  font-size: 16px;
}

.course-mentor {
  font-size: 12px;
  color: #a9a9a5;
}

.course-date {
  font-size: 12px;
}

@media (min-width: 768px) {
  #list-courses .course-item {
    flex: none;
    width: 22%;
    padding-right: 15px;
  }
}
