{% extends 'base_app.html' %}
{% load custom_filter %}
{% load static %}

{% block body_block %}
<div class="container mb-5">
    <div class="row mt-lg-5">
        <div class="col-10 mb-3">
            <h5>Undangan Tertunda</h5>
            <p class="small text-muted">
                Anda dapat melihat peserta undangan yang belum menerima undangan kursus
            </p>
        </div>
        <div class="col-2 mb-3">
            <button type="button" class="btn btn-primary btn-fab float-right" data-toggle="modal" data-target="#exampleModal">
                <i class="las la-plus"></i>
                <span class="ml-2">Undang Peserta</span>
            </button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-lg-3">
            {% include 'ext/mitra_menu.html' %}
        </div>
        <div class="col-12 col-lg-9">
            {% for email_invited in mitra.get_pending_user_list %}
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center justify-content-start">
                            <span class="bg-secondary p-2 rounded-circle mr-3">
                                <i class="las la-user la-2x text-white"></i>
                            </span>
                            <div>
                                <div>{{ email_invited.email }}</div>
                                <div class="small">Diundang oleh <b>{{ email_invited.invited_by }}</b> </div>
                            </div>
                        </div>
                        <div class="dropdown">
                            <a class="" href="#" role="button" id="dropdownMenu{{forloop.counter}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="las la-ellipsis-v la-2x text-secondary"></i>
                            </a>
                          
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu{{forloop.counter}}">
                                <a href="javascript:void(0)" role="button" class="dropdown-item btn-resend"
                                    data-mitra="{{ mitra.id }}" data-email="{{ email_invited.id }}">
                                    <i class="las la-envelope"></i>
                                    <span>Kirim Ulang Undangan</span>
                                </a>
                                <a href="javascript:void(0)" role="button" class="dropdown-item btn-delete"
                                    data-mitra="{{ mitra.id }}" data-email="{{ email_invited.id }}">
                                    <i class="las la-trash"></i>
                                    <span>Hapus</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center">
                        <img src="{% static 'app/img/empty.png' %}" class="my-4" alt="">
                        <h5>Tidak Ada Undangan</h5>
                        <p class="small text-muted text-center">
                            Tidak ada peserta yang diundang.
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<form id="formResend" action="" method="post">
    {% csrf_token %}
</form>
<form id="formDelete" action="" method="post">
    {% csrf_token %}
</form>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalLabel">Undang Peserta</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h6 class="small">Email Peserta</h6>
            <p class="small text-muted">
                Pastikan email yang Anda masukkan valid agar peserta yang Anda undang dapat mengakses kelas mitra yang Anda selenggarakan.
            </p>
            <form action="{% url 'app:mitra-users-invite' mitra.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" id="email1" class="form-control" name="email" placeholder="Contoh: namapengguna1@mail.com">
                </div>
                <div class="form-group">
                    <input type="email" id="email2" class="form-control" name="email" placeholder="Contoh: namapengguna2@mail.com">
                </div>
                <div class="form-group">
                    <input type="email" id="email3" class="form-control" name="email" placeholder="Contoh: namapengguna3@mail.com">
                </div>
                <div class="form-group">
                    <input type="email" id="email4" class="form-control" name="email" placeholder="Contoh: namapengguna4@mail.com">
                </div>
                <div class="form-group">
                    <input type="email" id="email5" class="form-control" name="email" placeholder="Contoh: namapengguna5@mail.com">
                </div>
                
                <button type="submit" class="btn btn-primary">Undang</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
            </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block body_js %}
<script>
    $('.btn-resend').on('click', function() {
        let url = "{% url 'app:mitra-users-pending-resend' 111 222 %}"; 
        let mitraId = $(this).data('mitra');
        let emailInvitedId = $(this).data('email');
        $('#formResend').attr('action', url.replace('111', mitraId).replace('222', emailInvitedId));
        $('#formResend').submit()
    });
    $('.btn-delete').on('click', function() {
        let url = "{% url 'app:mitra-users-pending-delete' 111 222 %}"; 
        let mitraId = $(this).data('mitra');
        let emailInvitedId = $(this).data('email');
        $('#formDelete').attr('action', url.replace('111', mitraId).replace('222', emailInvitedId));
        $('#formDelete').submit()
    });
</script>
{% endblock %}