{% extends 'classroom/base_app.html' %}
{% load static %}
{% load custom_filter %}
{% load humanize %}

{% block body_css %}
    <link rel="stylesheet" href="{% static 'app/css/dashboard-classroom.css' %}">
    <link href="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" type="text/css" media="all" rel="stylesheet">
{% endblock %}

{% block title_nav %} {{ course.title }} {% endblock %}

{% block classroom_menu %}
    {% include 'ext/classroom_menu.html' with course=course %}
{% endblock %}

{% block body_block %}

<div class="container-fluid mb-5">
    <div class="row mt-lg-5">
        <div class="col-12 mb-3">
            <h5>Dashboard</h5>
        </div>
    </div>
    <div class="statistic-row mb-3">
        <div class="statistic-col card">
            <div class="statistic-item">
                <i class="las la-calendar-day text-primary"></i>
                <div>
                    <h4>{{ course.sessions|count_query }}</h4>
                    <span class="text-muted">Sesi Kursus</span>
                </div>
            </div>
        </div>
        <div class="statistic-col card">
            <div class="statistic-item">
                <i class="las la-calendar-day text-primary"></i>
                <div>
                    <h4>{{ course.sessions|count_query }}</h4>
                    <span class="text-muted">Sesi Kursus Selesai</span>
                </div>
            </div>
        </div>
        <div class="statistic-col card">
            <div class="statistic-item">
                <i class="las la-graduation-cap text-primary"></i>
                <div>
                    <h4>{{ course.students|count_query }}</h4>
                    <span class="text-muted">Total Siswa</span>
                </div>
            </div>
        </div>
        <div class="statistic-col card">
            <div class="statistic-item">
                <i class="las la-graduation-cap text-primary"></i>
                <div>
                    <h4>{{ course.mentors|count_query }}</h4>
                    <span class="text-muted">Total Mentor</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ul class="nav nav-pills" id="tabDashboard" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="session-tab" data-toggle="tab" href="#session" role="tab" aria-controls="session" aria-selected="true">Jadwal Sesi</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="forum-tab" data-toggle="tab" href="#forum" role="tab" aria-controls="forum" aria-selected="false">Forum</a>
                </li>
            </ul>
            <div class="tab-content" id="tabDashboardContent">
                <div class="tab-pane fade show active" id="session" role="tabpanel" aria-labelledby="session-tab">
                    <div class="card mt-2">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <span>Manajemen Sesi</span>
                            <a href="{% url 'management:session-create' course.id %}" class="btn btn-danger btn-sm" >Tambah Sesi</a>
                        </div>
                        <div class="card-body p-1">
                            <ul class="list-group list-group-flush">
                            
                            {% for session in course.sessions %}
                                <li class="list-group-item p-2">
                                    <div class="session-item">
                                        <i class="las la-calendar-day la-3x text-primary"></i>
                                        <div class="session-item-detail ml-2">
                                            <span>
                                                {{session.title}}
                                                <div class="session-description small">
                                                    {{ session.description }}
                                                </div>
                                            </span>
                                            <span class="small text-muted">{{session.start_at}}</span>
                                            <span class="badge badge-pill badge-{{session.start_at|get_session_badge}} text-white small">{{session.start_at|naturaltime}}</span>
                                        </div>
                                        <div class="session-item-options ml-auto">
                                            <a href="{% url 'management:session-update' session.id %}" class="btn btn-link p-0 text-secondary" title="Edit">
                                                <i class="las la-edit" style="font-size: 1.3em;"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="btn btn-link p-0 text-secondary btn-delete" 
                                                title="Hapus" data-id="{{ session.id }}"
                                                data-toggle="modal" data-target="#modalDelete">
                                                <i class="las la-trash" style="font-size: 1.3em;"></i>
                                            </a>
                                            <a href="{% url 'management:classroom-session' session.id %}" class="btn btn-link p-0 text-secondary" title="Detail">
                                                <i class="las la-chevron-circle-right" style="font-size: 1.3em;"></i>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            {% empty %}
                                <li class="list-group-item d-flex flex-column align-items-center py-5">
                                    <img src="{% static 'app/img/empty.png' %}" class="my-4" alt="">
                                    <h5>Tidak ada sesi</h5>
                                    <p class="small text-muted text-center">
                                        Anda belum menambahkan sesi pada kursus ini.
                                    </p>
                                </li>
                            {% endfor %}
        
                            </ul>
                        </div>
                    </div>
                            
                </div>
                <div class="tab-pane fade" id="forum" role="tabpanel" aria-labelledby="forum-tab">
                    <div class="mt-2">
                        {% include 'ext/course_disqus.html' with course=course %}
                    </div> 
                </div>
            </div>

            
        </div>
    </div>
</div>

<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formDelete" action="" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h6 class="modal-title" id="modalDeleteLabel">Hapus Sesi</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Anda yakin menghapus sesi ini?</p>   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-danger">Hapus</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block body_js %}

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"></script><link href="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" type="text/css" media="all" rel="stylesheet">

    <script type="text/javascript">
        $('.btn-delete').on('click', function() {
            let url = "{% url 'management:session-delete' 666 %}";
            let id = $(this).data('id');
            $('#formDelete').attr('action', url.replace('666', id));
        });
    </script>
{% endblock %}