{% extends 'classroom/base_app.html' %}
{% load static %}

{% block body_css %}
    <link rel="stylesheet" href="{% static 'app/css/dashboard-classroom.css' %}">
    <link href="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" type="text/css" media="all" rel="stylesheet">
{% endblock %}

{% block title_nav %} {{ course.title }} {% endblock %}

{% block classroom_menu %}
    {% include 'ext/classroom_menu.html' with course=course %}
{% endblock %}

{% block body_block %}

<div class="container-fluid pb-5">
    <div class="row pt-3">
        <div class="col-12 mb-3">
            <h5>Dashboard</h5>
        </div>
    </div>
    <div class="statistic-row mb-3">
        <div class="statistic-col card">
            <div class="statistic-item">
                <i class="las la-calendar-day text-primary"></i>
                <div>
                    <h4>{{ course.sessions|length }}</h4>
                    <span class="text-muted">Sesi Kursus</span>
                </div>
            </div>
        </div>
        <div class="statistic-col card">
            <div class="statistic-item">
                <i class="las la-calendar-day text-primary"></i>
                <div>
                    <!-- perlu filter yg selesai -->
                    <h4>{{ course.sessions|length }}</h4>
                    <span class="text-muted">Sesi Kursus Selesai</span>
                </div>
            </div>
        </div>
        <div class="statistic-col card">
            <div class="statistic-item">
                <i class="las la-graduation-cap text-primary"></i>
                <div>
                    <h4>{{ course.students|length }}</h4>
                    <span class="text-muted">Total Siswa</span>
                </div>
            </div>
        </div>
        <div class="statistic-col card">
            <div class="statistic-item">
                <i class="las la-graduation-cap text-primary"></i>
                <div>
                    <h4>{{ course.mentors|length }}</h4>
                    <span class="text-muted">Total Mentor</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <span>Manajemen Sesi</span>
                    <a href="{% url 'management:session-create' course.id %}" class="btn btn-danger btn-sm" >Tambah Sesi</a>
                </div>
                <div class="card-body p-1">
                    <ul class="list-group list-group-flush">
                    
                    {% for session in course.sessions %}
                        <li class="list-group-item p-2">
                            <div class="session-item">
                                <i class="las la-calendar-day la-3x text-primary"></i>
                                <div class="session-item-detail ml-2">
                                    <span>
                                        {{session.title}}
                                        <div class="session-description small">
                                            {{ session.description }}
                                        </div>
                                    </span>
                                    <span class="small text-muted">{{session.start_at}}</span>
                                    <!-- cek jika kursus selesai -->
                                    <span class="badge badge-pill badge-success text-white small">Selesai</span>
                                </div>
                                <div class="session-item-options ml-auto">
                                    <a href="{% url 'management:session-update' session.id %}" class="text-secondary" title="Edit">
                                        <i class="las la-edit" style="font-size: 1.5em;"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="text-secondary link-delete" 
                                        title="Hapus" data-id="{{ session.id }}"
                                        data-toggle="modal" data-target="#modalDelete">
                                        <i class="las la-trash" style="font-size: 1.5em;"></i>
                                    </a>
                                    <a href="#!" class="text-secondary" title="Detail">
                                        <i class="las la-chevron-circle-right" style="font-size: 1.5em;"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item d-flex flex-column align-items-center py-5">
                            <img src="{% static 'app/img/empty.png' %}" class="my-4" alt="">
                            <h5>Tidak ada sesi</h5>
                            <p class="small text-muted text-center">
                                Anda belum menambahkan sesi pada kursus ini.
                            </p>
                        </li>
                    {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modalDeleteLabel">Hapus Sesi</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Anda yakin menghapus sesi ini?</p>
                
                <form id="formModalDelete" action="" method="POST">
                    {% csrf_token %}
                    <input type="text" id="input_delete">
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                        <button type="button" class="btn btn-danger">Hapus</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block body_js %}

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"></script><link href="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" type="text/css" media="all" rel="stylesheet">

    <script type="text/javascript">
        $('.link-delete').on('click', function() {
            $('#input_delete').val($(this).data('id'));
            // ganti action pada form
        });
    </script>
{% endblock %}