{% extends 'classroom/base_app.html' %}
{% load static %}

{% block body_css %}
    <link rel="stylesheet" href="{% static 'app/css/dashboard-classroom.css' %}">
    <link href="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" type="text/css" media="all" rel="stylesheet">
{% endblock %}

{% block body_block %}

<div class="container-fluid py-lg-5 pb-5">
    <div class="row pt-3">
        <div class="col-12 mb-3">
            <h5>Dashboard</h5>
        </div>
    </div>
    <div class="statistic-row mb-3">
        <div class="statistic-col card">
            <div class="statistic-item">
                <i class="las la-calendar-day text-primary"></i>
                <div>
                    <h4>2</h4>
                    <span class="text-muted">Sesi Kursus</span>
                </div>
            </div>
        </div>
        <div class="statistic-col card">
            <div class="statistic-item">
                <i class="las la-calendar-day text-primary"></i>
                <div>
                    <h4>1</h4>
                    <span class="text-muted">Sesi Kursus Selesai</span>
                </div>
            </div>
        </div>
        <div class="statistic-col card">
            <div class="statistic-item">
                <i class="las la-graduation-cap text-primary"></i>
                <div>
                    <h4>100</h4>
                    <span class="text-muted">Total Siswa</span>
                </div>
            </div>
        </div>
        <div class="statistic-col card">
            <div class="statistic-item">
                <i class="las la-graduation-cap text-primary"></i>
                <div>
                    <h4>4</h4>
                    <span class="text-muted">Total Mentor</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <span>Manajemen Sesi</span>
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalSession">Tambah Sesi</button>
                </div>
                <div class="card-body p-1">
                    <ul class="list-group list-group-flush">
                    
                    {% for session in course.sessions %}
                        <li class="list-group-item p-2">
                            <div class="session-item">
                                <i class="las la-calendar-day la-3x text-primary"></i>
                                <div class="session-item-detail ml-2">
                                    <span>
                                        {{session.title}}
                                        <div class="session-description small">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, accusantium!
                                        </div>
                                    </span>
                                    <span class="small text-muted">{{session.start_at}}</span>
                                    <span class="badge badge-pill badge-success text-white small">Selesai</span>
                                </div>
                                <div class="session-item-options ml-auto">
                                    <a href="#!" class="text-secondary" title="Edit">
                                        <i class="las la-edit"></i>
                                    </a>
                                    <a href="#!" class="text-secondary" title="Hapus">
                                        <i class="las la-trash"></i>
                                    </a>
                                    <a href="#!" class="text-secondary" title="Detail">
                                        <i class="las la-chevron-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        Kosong
                    {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSession" tabindex="-1" aria-labelledby="modalSessionLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSessionLabel">Tambah Sesi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light">
                <form id="formSession"  method="POST">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="session-name">Nama Sesi</label>
                            {{form.title}}
                        </div>
                        <div class="col-12 form-group">
                            <label for="session-mentor">Mentor</label>
                            {{form.mentor}}
                        </div>
                        <div class="col-12 form-group">
                            <label for="session-description">Deskripsi</label>
                            {{form.description}}
                        </div>
                        <div class="col-12 col-lg-4 form-group">
                            <label for="session-date">Tanggal</label>
                            {{form.start_at}}
                        </div>
                        
                        <div class="col-12">
                            <button class="submit" class="btn btn-primary">Tambah Sesi</button>
                            <button class="button" class="btn btn-danger ml-2" data-dismiss="modal" aria-label="Close">Batal</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block body_js %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"></script><link href="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" type="text/css" media="all" rel="stylesheet">
{% endblock %}