{% extends 'base_app.html' %}

{% block body_css %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" type="text/css" media="all" rel="stylesheet">
{% endblock %}

{% block body_block %}

<h1>Admin Management Courses</h1>

<a href="{% url 'management:courses' %}">Tambah Course</a>

<ul>
{% for course in user.management_courses %}
    <li>
        <a href="{% url 'management:course-preview' course.id %}">Preview {{course.title}}</a>
        //
        <a href="#">{{course.is_publish}}</a>
        //
        <a href="{% url 'management:course-update' course.id %}">Edit</a>
        //
        <form id='DeleteCourse{{course.id}}' method="post" action="{% url 'management:course-delete' course.id %}">
            {% csrf_token %}
            <a href="javascript:void(0)" @click="submitItem('DeleteCourse{{course.id}}')">Delete</a>
        </form>
        //
        <a href="{% url 'management:classroom' course.id %}">Tambah Sesi</a>
        //
        <a href="{% url 'management:exam' course.id %}">Tambah Exam</a>
    </li>
{% endfor %}
</ul>

<form method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <div class="form-group mt-4">
      <button type="submit" class="btn btn-block btn-default pt-2 pb-2">Submit</button>
    </div>
</form>

{% endblock %}

{% block body_js %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"></script><link href="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" type="text/css" media="all" rel="stylesheet">
{% endblock %}