{% load i18n %}

<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Muse Akademi</title>
</head>

<body style="margin: 0; padding: 0;">
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <td bgcolor="#3abcd8" align="center" style="padding: 10px 0;">
                <h3 style="color: #ffffff;">MUSE AKADEMI</h3>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff" align="center" style="padding: 50px 0; border: 1px solid #ecf0f5;">
                <table>
                    <tr>
                        <td align="center" style="padding: 20px 0;">
                            {{message|safe}}
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 20px 0;">
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 30px 0 10px 0; font-size: 0.9em; color: #a9a9a5;">
                            {% trans "Email ini dibuat secara otomatis. Mohon tidak mengirimkan balasan ke email ini." %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ecf0f5" align="center" style="padding: 20px 0;">
                
                <table>
                    <tr>
                        <td align="center" colspan="4">
                            <h4>{% trans "Hubungi Kami" %}</h4>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 5px 10px; font-size: 0.9em">museakademi.official@gmail.com</td>
                        <td style="padding: 5px 10px; font-size: 0.9em">
                            <a href="https://www.instagram.com/museakademi/" target="_blank">@museakademi</a>
                        </td>
                        <td style="padding: 5px 10px; font-size: 0.9em">
                            <a href="https://www.facebook.com/musee.malang.1" target="_blank">Musė Akademi</a>
                        </td>
                        <td style="padding: 5px 10px; font-size: 0.9em">
                            <a href="https://wa.me/6285755055835" target="_blank">+62 857-5505-5835</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="4" style="padding: 10px; font-size: 0.9em; color: #A9A9A5;">
                            Jalan Selat Karimata E6/1, Sawojajar, Kota Malang, Jawa Timur
                        </td>
                    </tr>
                </table>
                
            </td>
        </tr>
    </table>
</body>

</html>