{% extends 'classroom/base_app.html' %}

{% block body_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
<style>
    a.td-collapse > i{
        transform: rotate(0deg);
        transition: transform 0.2s ease-in-out;
    }

    a.td-collapse[aria-expanded='true'] > i {
        transform: rotate(180deg);
    }
</style>
{% endblock %}

{% block title_nav %} {{ course.title }} {% endblock %}

{% block classroom_menu %}
    {% include 'ext/classroom_menu.html' with course=course %}
{% endblock %}

{% block body_block %}

<div class="container-fluid mb-5">
    <div class="row mt-lg-5">
        <div class="col-12 col-lg-10 mb-3">
            <h5>Siswa</h5>
        </div>
        <div class="col-12 col-lg-2 d-none d-sm-block"> 
            <a href="javascript:void(0)" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalEmail">
                <span>Kirim Email</span>
            </a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-header">Daftar Siswa</div>
                <div class="card-body">
                   {% include 'ext/student_list.html' with libraries=course.library %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEmail" tabindex="-1" aria-labelledby="modalEmailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'management:course-students-email' course.id %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h6 class="modal-title" id="modalEmailLabel">Kirim Email Broadcast</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="subject">Subjek Email</label>
                        <input type="text" class="form-control" name="subject" id="subject">
                    </div>
                    <div class="form-group">
                        <label for="message">Pesan</label>
                        <textarea name="message" id="message" class="form-control" rows="10"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Kirim</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block body_js %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
    $('table').DataTable({
        paging: false
    });
</script>
{% endblock %}