{% extends 'classroom/base_app.html' %}
{% load static %}

{% block body_css %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" type="text/css" media="all" rel="stylesheet">
    <style>
        .option-link a {
            font-size: 1.5em;
        }
        .option-link a:hover {
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block title_nav %} {{ course.title }} {% endblock %}

{% block classroom_menu %}
    {% include 'ext/classroom_menu.html' with course=course %}
{% endblock %}

{% block body_block %}

<div class="container-fluid pb-5">
    <div class="row">
        <div class="col-12 col-lg-9 mb-3">
            <h3>Tugas</h3>
        </div>
        <div class="col-12 col-lg-9 mb-3">
                <div class="card">
                    <div class="card-header">Form Tambah Tugas</div>
                    <div class="card-body">
                        <form method="POST"  enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                {{form.as_p}}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Tambahkan</button>
                                <button type="button" class="btn btn-danger" data-target="#collapseForm"
                                    data-toggle="collapse" aria-expanded="false" aria-controls="collapseForm">Batal</button>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>

    <div class="row">
        {% for exam in course.exams %}
        <div class="col-12 col-lg-9 mb-3">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <span>No:{{ forloop.counter }}</span>
                    <span class="text-muted small">
                        Batas Waktu: <b>{{ exam.close_at }}</b>
                    </span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="small text-muted">Studi Kasus</div>
                            <p>{{ exam.question|safe }}</p>
                        </div>
                        <div class="col-12 col-lg-6 d-none">
                            <img src="https://dummyimage.com/600x400/727bfc/fff" alt="" class="img-fluid">
                        </div>
                        <div class="col-12 option-link">
                            
                            <form method="post" id="DeleteExam{{exam.id}}" action="{% url 'management:exam-delete' exam.id %}" class="text-right">
                                {% csrf_token %}
                                <a href="{% url 'management:exam-update' exam.id %}" class="text-link" title="Edit">
                                    <i class="las la-edit"></i>
                                </a>
                                <a onclick="document.getElementById('DeleteExam{{exam.id}}').submit();" class="text-link text-danger" title="Hapus">
                                    <i class="las la-trash"></i>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12 d-flex flex-column align-items-center py-5">
            <img src="{% static 'app/img/empty.png' %}" class="my-4" alt="">
            <h5>Tidak ada tugas</h5>
            <p class="small text-muted text-center">
                Anda belum menambahkan tugas pada kursus ini.
            </p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block body_js %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"></script><link href="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" type="text/css" media="all" rel="stylesheet">
{% endblock %}