{% extends 'base_app.html' %}
{% load static %}
{% load custom_filter %}
{% load widget_tweaks %}

{% block body_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
<style>
    .mentor-table thead {
        font-size: 14px;
        color: #aaa;
    }

    .mentor-table img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }

    .mentor-table .badge {
        color: white;
    }
</style>

{% endblock %}

{% block body_block %}
<div class="container mb-5">
    <div class="row mt-lg-5">
        <div class="col-12 col-lg-9 mb-3">
            <h5>Manajemen Mentor</h5>
            <p class="small text-muted">Kelola data mentor dengan mudah</p>
        </div>
        <div class="col-12 col-lg-3">
            <a href="{% url 'management:mentor-create' %}" type="button" class="btn btn-danger btn-fab float-right">
                <i class="las la-plus"></i>
                <span class="ml-2">Tambah Mentor Baru</span>
            </a>
        </div>
    </div>
    <form action="">
        <div class="row no-gutters">
            <div class="col-4 col-lg-6 pr-2">
                <div class="form-group">
                    <div class="input-group">
                            {% render_field filter.form.user_email__icontains    class="form-control" type="search" aria-label="search-input" placeholder="Pencarian example@gmail.com atau username" %}
                        <div class="input-group-append">
                            <span class="input-group-text bg-white" id="search-addon">
                                <i class="las la-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 col-lg-2 pr-2">
                <div class="form-group">
                    {% include 'ext/show_input.html' %}
                </div>
            </div>
            <div class="col-2 col-lg-2 pr-2">
                <div class="form-group">
                    {% render_field filter.form.status class="form-control" %}
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <button type="submit" class="btn btn-primary btn-block">Tampilkan</button>
            </div>
        </div>
    </form>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    {% include 'ext/mentors_table.html' with mentor_datas=mentor_datas %}
                </div>
                <div class="col-12">
                    {% include 'ext/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_js %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
    $('table').DataTable({
        searching: false,
        paging: false,
        info: false,
        responsive: true,
    });
</script>
{% endblock %}