{% extends 'base_app.html' %}

{% block body_css %}
<style>
    
    .table-responsive {
        max-height: 50vh;
        overflow-y: scroll;
    }

    table td,
      .table td {
        text-align: center;
        padding: 0px;
      }
      td:hover {
        background-color: #ddd;
      }
      td.checked {
        background-color: #3abcd8;
      }

      td input {
        width: 100%;
        height: 25px;
        cursor: pointer;
        opacity: 0;
      }
</style>
{% endblock %}

{% block body_block %}

<div class="container mb-5">
    <div class="row mt-lg-5">
        <div class="col-12 col-lg-9 mb-3">
            <h5>Jadwal Mentor</h5><br>
            <p>Email : {{mentor.email}}</p>
            <p>Username : {{mentor.username}}</p>
        </div>
        <div class="col-12 mb-3 order-lg-3">
            <div class="card">
            
                <div id="schedule-table" class="table-responsive">
                    <table class="table table-bordered small">
                        <thead>
                            <tr>
                                <th>Jam (GMT+7)</th>
                                <th width="11%">Minggu</th>
                                <th width="11%">Senin</th>
                                <th width="11%">Selasa</th>
                                <th width="11%">Rabu</th>
                                <th width="11%">Kamis</th>
                                <th width="11%">Jumat</th>
                                <th width="11%">Sabtu</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, i) in checklist">
                                <td><span v-text="i+7"></span>.00</td>
                                <td
                                v-for="(subitem, j) in item"
                                :class="{checked: subitem}"
                                
                                >
                                <input type="checkbox" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
    
</div>

{% endblock %}

{% block body_js %}
<script>
    Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
    const headerDashboard = new Vue({
        el: '#header-dashboard',
        data: {
            smiley: ['128515', '128075', '128512', '128513', '128516', '128578'],
            selectedSmiley: ''
        },
        created() {
            const idx = Math.floor(Math.random() * this.smiley.length);
            this.selectedSmiley = '&#' + this.smiley[idx] + ';'
        }
    });

    const scheduleTable = new Vue({
        el: '#schedule-table',
        data: {
            free_time_data: [],
            dayAssoc: ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"],
            checklist: [],
        },
        methods: {
            initSchedule: function (data) {
                for (var i = 7; i < 23; i++) {
                    arr = [];
                    for (var j = 0; j < 7; j++) {
                        let found = data.some(
                            (item) =>
                            item.day === this.dayAssoc[j] &&
                            parseInt(item.time.split(":", 1)) === i
                        );
                        if (found) {
                            arr.push(true);
                        } else {
                            arr.push(false);
                        }
                    }
                    this.checklist.push(arr);
                }
            },
        },
        created: function () {
            // this.initSchedule(this.free_time_data);
            let api_url = `/api/mentor/schedule/?mentor=`+`{{mentor.id}}`;
            this.$http.get(api_url)
                .then((response) => {
                    // data = this.free_time_data;
                    this.initSchedule(response.data);
                })
                .catch((err) => {
                    this.loading = false;
                    console.log(err);
            })
        }
    });
</script>
{% endblock %}