{% extends 'base_app.html' %}

{% load custom_filter %}

{% block body_block %}

<h5>Order Detail</h5>

id : {{order.id}}<br>
invoice_no : {{order.invoice_no}}<br>
course : {{order.course.title}}<br>
price : {{order.price}}<br>
status : {{order.status}}<br>
status_display : {{order.get_status_display }}<br>

{% if course.order_pic %}
    <img src="{{course.order_pic|order_pic}}" alt="">

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
{% else %}
    Tidak dapat mengupdate status karena belum ada bukti pembayaran
{% endif %}

{% endblock %}