{% extends 'base_app.html' %}
{% load custom_filter %}

{% block body_block %}

<div class="container py-lg-5 pb-5">
    <div class="row pt-3">
        <div class="col-12 mb-3">
            <h5>Detail Order</h5>
            <p class="small text-muted">
                Anda dapat memeriksa data pembayaran kursus.
            </p>
        </div>
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">{{ order.invoice_no }}</h6>
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <th scope="row" width="20%">No. Invoice</th>
                                        <td>: {{ order.invoice_no }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Kursus</th>
                                        <td>: {{ order.course }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Harga</th>
                                        <td>: Rp {{ order.course.price }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Pembeli</th>
                                        <td>: {{ order.user }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Tgl Pembelian</th>
                                        <td>: {{ order.created_at }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Status</th>
                                        <td>: 
                                            {% if order.status == 'WP' %}
                                                <span class="badge badge-warning ml-2">
                                                    Menunggu Pembayaran
                                                </span>
                                            {% elif order.status == 'WC' %}
                                                <span class="badge badge-warning ml-2">
                                                    Menunggu Konfirmasi
                                                </span>
                                            {% elif order.status == 'CO' %}
                                                <span class="badge badge-success ml-2">
                                                    Selesai
                                                </span>
                                            {% elif order.status == 'DE' %}
                                                <span class="badge badge-danger ml-2">
                                                    Dibatalkan
                                                </span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 col-lg-4">
                            {% if order.order_pic %}
                                <img src="{{order.order_pic|order_pic}}" class="mb-3 img-fluid" alt="">

                                <form method="POST">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                </form>
                            {% else %}
                                Tidak dapat mengupdate status karena belum ada bukti pembayaran
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}