.statistic-row {
    display: flex;
    gap: 7px;
    flex-wrap: nowrap;
    overflow: auto;
    align-items: stretch;
}

.statistic-col {
    flex: none;
    padding: 5px 10px;
}

.statistic-item {
    display: flex;
    align-items: center;
}

.statistic-item div {
    margin-left: 10px;
}

.statistic-item h4 {
    margin: 0;
}

.statistic-item i {
    font-size: 2.5em;
}

.statistic-item span {
    font-size: 12px;
}

.table-responsive {
    max-height: 50vh;
    overflow-y: scroll;
}

table td,
.table td {
    text-align: center;
    padding: 0px;
    height: 25px;
}

td.checked {
    background-color: lightseagreen;
}

@media (min-width: 768px) {
    .statistic-col {
        flex: 1;
    }
}