{% load custom_filter %}
{% load widget_tweaks %}

<div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
        <span>Tugas ID: T{{ exam.id }}</span>
        <span class="text-muted small">
            Batas Waktu: <b>{{ exam.close_at }}</b>
        </span>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="small text-muted">Studi Kasus</div>
                <p>{{ exam.question|safe }}</p>
            </div>
            
            <!-- CS: Assesment Project -->
            {% if request.resolver_match.view_name == 'app:classroom-exams' %}
                <div class="col-12">
                    <a href="{% url 'app:examanswer' exam.id %}" class="btn btn-danger btn-sm float-right">Jawab</a>
                </div>
            <!-- CS: Assesment Project (Update) -->
            {% comment %}
                {% elif request.resolver_match.view_name == 'app:examanswer-update' or request.resolver_match.view_name == 'app:examanswer' %}
            {% endcomment %}
            
            <!-- CA: Assesment Project -->
            
        </div>
    </div>
</div>