{% load custom_filter %}

<div class="card h-100" data-toggle="tooltip" data-placement="top" title="{{course.title}}">
    <img class="card-img-top" src="{{course.course_pic|course_pic}}" alt="cover" />
    <div class="card-body p-3 d-flex flex-column justify-content-between">
        <h6 class="text-truncate">{{course.title}}</h6>
        <div class="text-muted small">{{course.start_at}} - {{course.close_at}}</div>
        <div class="mt-2 mb-1">
            
            {% if course.is_free %}
                <h6>
                    <span class="badge badge-success">Gratis</span>
                </h6>
            {% else %}
                <h6 class="d-flex flex-column flex-sm-row align-items-start align-items-lg-end">
                    <span class="mr-1">Rp {{course.get_price}}</span> 
                    {% if course.discount %}
                        <span class="text-muted small"><del>Rp {{course.price}}</del></span>
                    {% endif %}
                </h6>
            {% endif %}
            {% if course.is_partner %}
            <h6>
                <span class="badge badge-primary">Partnership</span>
            </h6>
            {% endif %}
        </div>
        <a href="{% url 'app:course' course.id %}" class="btn btn-danger btn-sm btn-block text-center">Detail Kursus</a>
    </div>
</div>