{% load custom_filter %}
{% load static %}

<div class="row">
{% for course in courses  %}
    <div class="col-12">
        <div class="card mb-3">
            <div class="row no-gutters align-items-center">
                <div class="col-md-3">
                    <img src="{{course.course_pic|course_pic}}" class="card-img" alt="cover">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h6 class="card-title">
                            <a href="{% url 'app:course' course.id %}">
                                {{ course.title }}
                            </a>
                        </h6>
                        <div class="d-flex align-items-center mb-2">
                            <i class="las la-calendar-day text-primary"></i>
                            <span class="mx-2 small">{{ course.start_at }} - {{ course.close_at }}</span>
                        </div>
                        <div class="d-flex align-items-start align-items-sm-center justify-content-between flex-column flex-sm-row">
                            <div style="width: 100%">
                                <!-- cek status -->
                                {% with status=course.status is_free=course.is_free%}
                                {% if status == 'Done' %}
                                    <span class="badge badge-pill badge-success">Selesai</span>
                                    <!-- jika status selesai -->
                                    <a href="{% url 'app:certificate' course.id %}" class="badge badge-pill badge-success">
                                        <i class="las la-certificate mr-1"></i>
                                        Cetak Sertifikat
                                    </a>
                                {% elif status == 'Not Active' %}
                                    <span class="badge badge-pill badge-warning">Akan Datang</span>
                                    <!-- jika status belum selesai -->
                                    <span class="badge badge-pill badge-secondary">
                                        <i class="las la-certificate mr-1"></i>
                                        Cetak Sertifikat
                                    </span>
                                {% elif status == 'Active' %}
                                    <span class="badge badge-pill badge-primary">Aktif</span>
                                    <!-- jika status belum selesai -->
                                    <span class="badge badge-pill badge-secondary">
                                        <i class="las la-certificate mr-1"></i>
                                        Cetak Sertifikat
                                    </span>
                                {% endif %}
                                {% endwith %}
                                
                                <div class="progress mt-2">
                                    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                  </div>
                            </div>
                            
                            <a href="{% url 'app:classroom-redirect' course.id %}" title="Masuk Kelas" class="btn btn-danger d-flex align-items-center mt-3 block-in-mobile justify-content-center ml-lg-5">
                                <span>Masuk</span>
                                <i class="las la-chevron-circle-right ml-2" style="font-size: 1.3em"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12 d-flex flex-column align-items-center">
        <img src="{% static 'app/img/empty.png' %}" class="my-4" alt="">
        <h5>Tidak ada kursus</h5>
        <p class="small text-muted text-center">
            Anda belum pernah mengambil kursus di Muse Akademi.
        </p>
    </div>
    {% endfor %}
</div>