{% load custom_filter %}
{% load static %}


{% for course in courses %}
<div class="col-12">
    <div class="card mb-3">
        <div class="row no-gutters align-items-center">
            <div class="col-md-2">
                <img src="{{course.course_pic|course_pic}}" class="card-img" alt="cover">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <form action="{% url 'management:course-update-publish' course.id %}" method="post" class="float-right">
                        {% csrf_token %}
                        {% if course.is_publish == False %}
                        <button type="submit" class="btn btn-link p-0">
                            <i class="las la-eye mr-1"></i>
                            Publikasi
                        </button>
                        {% else %}
                        <button type="submit" class="btn btn-link text-danger p-0">
                            <i class="las la-eye-slash mr-1"></i>
                            Sembunyi
                        </button>
                        {% endif %}
                    </form>
                    <h6 class="card-title">{{ course.title }}</h6>
                    <div class="d-flex align-items-center mb-2">
                        <i class="las la-calendar-day text-primary"></i>
                        <span class="mx-2 small">{{ course.start_at }} - {{ course.close_at }}</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <strong>
                            {% if course.price == 0 %}
                            Free
                            {% else %}
                            Rp {{course.price}}
                            {% endif %}
                        </strong>
                        <div>
                            <a href="{% url 'management:course-update' course.id %}" class="text-secondary" title="Edit">
                                <i class="las la-edit"></i>
                            </a>
                            <a href="#!" class="text-secondary" title="Hapus" data-toggle="modal"
                                data-target="#modalDeleteCourse">
                                <i class="las la-trash"></i>
                            </a>
                            <a href="{% url 'management:classroom' course.id %}" class="text-secondary"
                                title="Masuk Kelas">
                                <i class="las la-chevron-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% empty %}
<div class="col-12 col-lg-4 offset-lg-4 d-flex flex-column align-items-center">
    <img src="{% static 'app/img/empty.png' %}" class="my-4" alt="">
    <h5>Tidak ada kursus</h5>
    <p class="small text-muted text-center">
        Anda belum pernah membuka kursus di Muse Akademi
    </p>
</div>
{% endfor %}