{% load custom_filter %}
{% load static %}

{% if courses %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="small">
                <th width="25%">Nama Kursus</th>
                <th width="12%">Jumlah Siswa</th>
                <th width="15%">Tanggal Mulai</th>
                <th width="15%">Tanggal Berakhir</th>
                <th width="15%">Status</th>
                <th width="8%">Visibilitas</th>
                <th width="20%">Opsi</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses  %}
            <tr>
                <td>{{ course.title }}</td>
                <td>
                    <i class="las la-graduation-cap mr-1"></i>
                    {{ course.students.count }}
                </td>
                <td>{{ course.start_at|date }}</td>
                <td>{{ course.close_at|date }}</td>
                <td>
                    <!-- cek status -->
                    {% with status=course.status %}
                    {% if status == 'Done' %}
                        <span class="badge badge-pill badge-success">Selesai</span>
                    {% elif status == 'Not Active' %}
                        <span class="badge badge-pill badge-warning">Akan Datang</span>
                    {% elif status == 'Active' %}
                        <span class="badge badge-pill badge-primary">Aktif</span>
                    {% endif %}
                    {% endwith %}
                </td>
                <td>
                    
                </td>
                <td>
                   
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}

<div class="d-flex flex-column align-items-center">
    <img src="{% static 'app/img/empty.png' %}" class="my-4" alt="">
    <h5>Tidak ada kursus</h5>
    <p class="small text-muted text-center">
        Anda belum pernah membuka di Muse Akademi.
    </p>
</div>

{% endif %}

{% block body_js %}
<script>
    function updateVisibility(id) {
        $('#formVisibility'+id).submit();
    }
</script>
{% endblock %}

