{% load custom_filter %}

<div class="table-responsive">
    <table class="table mentor-table">
        <thead>
            <tr>
                <td>Username</td>
                <td>Email</td>
                <td>Status</td>
                <td>Opsi</td>
            </tr>
        </thead>
        <tbody>
            {% for mentor_data in mentor_datas %}
            <tr>
                <td>
                    <img src="{{mentor_data.mentor.profile_pic|profile_pic}}" alt="">
                    <span class="ml-2">{{mentor_data.mentor.username}}</span>
                </td>
                <td>
                    <span class="ml-2">{{mentor_data.mentor.email}}</span>
                </td>
                <td>
                    <span class="badge badge-pill badge-{{mentor_data.status|get_badge_mentor_status}}">{{mentor_data.get_status_display}}</span>
                </td>
                <td>
                   
                </td>
            </tr>
        
        {% endfor %}
        </tbody>
    </table>
</div>