{% load custom_filter %}

<div class="side-tab-menu">
    <a href="{% url 'app:mitra-dashboard' mitra.id %}"
        class="side-tab-link {% if request.resolver_match.view_name == 'app:mitra-dashboard' %}active{% endif %}">
        <i class="las la-building"></i>
        <span>Informasi Umum</span>
    </a>
    <a href="{% url 'app:mitra-users' mitra.id %}"
        class="side-tab-link {% if request.resolver_match.view_name == 'app:mitra-users' %}active{% endif %}">
        <i class="las la-user"></i>
        <span>Peserta</span>
    </a>
    <a href="{% url 'app:mitra-courses' mitra.id %}"
        class="side-tab-link {% if request.resolver_match.view_name == 'app:mitra-courses' %}active{% endif %}">
        <i class="las la-graduation-cap"></i>
        <span>Koleksi Kursus</span>
    </a>
</div>