{% load custom_filter %}
{% load static %}

<div class="row">
    {% for order in orders  %}
        <div class="col-12">
            <div class="card mb-3">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-3">
                        <img src="{{ order.course.course_pic|course_pic }}" class="card-img" alt="cover">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body row">
                            <div class="col-12 col-lg-8 mb-2">
                                <h6 class="card-title">{{ order.course }}</h6>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="las la-file-invoice-dollar text-primary"></i>
                                    <span class="mx-2 small">{{ order.invoice_no }}</span>
                                </div>
                                <div>
                                    {% if order.course.is_free %}
                                        <span class="badge badge-success">Gratis</span>
                                    {% else %}
                                        <strong>Rp {{ order.course.get_price }}</strong>
                                        {% if order.course.discount %}
                                            <span class="text-muted small"><del>Rp {{order.course.price}}</del></span>
                                        {% endif %}
                                    {% endif %}
                                    
                                    <span class="badge badge-{{order.status|get_badge_order_status}} ml-2">
                                        {{order.get_status_display}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 d-flex align-items-center">
                                <a href="{% url 'app:order-detail' order.id %}" class="btn btn-primary btn-block small d-flex align-items-center justify-content-center ml-auto" title="Detail Order">
                                    <span>Selengkapnya</span>
                                    <i class="las la-angle-right ml-2"></i>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
    <div class="col-12 d-flex flex-column align-items-center">
        <img src="{% static 'app/img/empty.png' %}" class="my-4" alt="">
        <h5>Tidak ada kursus</h5>
        <p class="small text-muted text-center">
            Anda belum pernah melakukan transaksi pembelian kursus.
        </p>
    </div>
    {% endfor %}
</div>