{% load custom_filter %}

<div class="row">
    {% for order in orders  %}
        <div class="col-12">
            <div class="card mb-3">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-3">
                        <img src="{{ order.course.course_pic|course_pic }}" class="card-img" alt="cover">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h6 class="card-title">{{ order.course }}</h6>
                            <div class="d-flex align-items-center mb-2">
                                <i class="las la-file-invoice-dollar text-primary"></i>
                                <span class="mx-2 small">{{ order.invoice_no }}</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>
                                    <strong>
                                        {% if order.course.price == 0 %}
                                        Free
                                        {% else %}
                                        Rp {{ order.course.price }}
                                        {% endif %}
                                    </strong>
                                    {% if order.status == 'WP' %}
                                        <span class="badge badge-warning ml-2">
                                            Menunggu Pembayaran
                                        </span>
                                    {% elif order.status == 'WC' %}
                                        <span class="badge badge-warning ml-2">
                                            Menunggu Konfirmasi
                                        </span>
                                    {% elif order.status == 'CO' %}
                                        <span class="badge badge-success ml-2">
                                            Selesai
                                        </span>
                                    {% elif order.status == 'DE' %}
                                        <span class="badge badge-danger ml-2">
                                            Dibatalkan
                                        </span>
                                    {% endif %}
                                </span>
                                <div>
                                    <a href="{% url 'app:order-detail' order.id %}" class="text-secondary"
                                        title="Detail Order">
                                        <i class="las la-chevron-circle-right" style="font-size: 1.5em;"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>