{% load custom_filter %}
{% load static %}

<div class="row">
    {% for order in orders  %}
        <div class="col-12">
            <div class="card mb-3">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-3">
                        <img src="{{ order.course.course_pic|course_pic }}" class="card-img" alt="cover">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h6 class="card-title">{{ order.course }}</h6>
                            <div class="d-flex align-items-center mb-2">
                                <i class="las la-file-invoice-dollar text-primary"></i>
                                <span class="mx-2 small">{{ order.invoice_no }}</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>
                                    <strong>
                                        {% if order.course.is_free %}
                                            Free
                                        {% else %}
                                            Rp {{ order.course.get_price }}
                                        {% endif %}
                                    </strong>
                                    <span class="badge badge-{{order.status|get_badge_order_status}} ml-2">
                                        {{order.get_status_display}}
                                    </span>
                                </span>
                                <div>
                                    <a href="{% url 'app:order-detail' order.id %}" class="btn btn-link p-0 text-secondary"
                                        title="Detail Order">
                                        <i class="las la-chevron-circle-right" style="font-size: 1.3em;"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
    <div class="col-12 d-flex flex-column align-items-center">
        <img src="{% static 'app/img/empty.png' %}" class="my-4" alt="">
        <h5>Tidak ada kursus</h5>
        <p class="small text-muted text-center">
            Anda belum pernah melakukan transaksi pembelian kursus.
        </p>
    </div>
    {% endfor %}
</div>