{% load custom_filter %}

<div class="table-responsive">
    <table class="table mentor-table">
        <thead>
            <tr>
                <td>Invoice</td>
                <td>Harga</td>
                <td>Status</td>
                <td>Opsi</td>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td class="d-flex align-items-center">
                    <i class="las la-file-invoice-dollar text-primary mr-2" style="font-size: 1.5em"></i>
                    <a href="{% url 'management:order-update' order.id %}">{{ order.invoice_no }}</a>
                </td>
                <td>Rp {{ order.price }}</td>
                <td>
                    <span class="badge badge-pill badge-warning">{{order.get_status_display}}</span>
                </td>
                <td>
                    <a href="{% url 'management:order-update' order.id %}" class="text-secondary">
                        <i class="las la-chevron-circle-right" style="font-size: 1.5em;" title="Detail"></i>
                    </a>
                </td>
            </tr>
        
        {% endfor %}
        </tbody>
    </table>
</div>