
{% with is_open_now=session.is_open_now %}
  {% if is_open_now == "Yes" %} 
    <a href="{{course.url_meet|default_if_none:'#'}}" target="_blank" type="button" class="btn btn-danger btn-sm">Masuk Kelas Online</a>
  {% elif is_open_now == "Not Yet" %}
    <div class="card callout">
      <div class="card-body py-3">
        <h6 class="text-primary">Informasi!</h6>
        <div class="small">
          Saat ini sesi kursus belum dibuka, tunggu informasi selanjutnya!
        </div>
      </div>
    </div>
  {% elif is_open_now == "No" %}
  <div class="card callout">
    <div class="card-body py-3">
      <h6 class="text-primary">Informasi!</h6>
      <div class="small">
        Sesi Kursus telah berakhir.
      </div>
    </div>
  </div>

  {% endif %}
{% endwith %}