{% load custom_filter %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr class="small">
                <th width="5%">No.</th>
                <th width="25%">Nama Siswa</th>
                <th width="15%">Telepon</th>
                <th width="10%">Evaluasi</th>
                <th width="5%"></th>
            </tr>
        </thead>
        <tbody>
            {% for library in course.libraries %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        {{ library.user }}
                        <div class="collapse mt-2" id="collapse{{ forloop.counter }}">
                            {% for ea in library.exams %}
                                {% if ea.answer %}
                                    {% if request.resolver_match.app_name == 'management' %}
                                        <a href="{% url 'management:report' ea.answer.id %}" class="badge badge-pill badge-primary text-white">Nomor {{forloop.counter}}</a>
                                    {% elif request.resolver_match.app_name == 'mentor' %}
                                        <a href="{% url 'mentor:report-detail' ea.answer.id %}" class="badge badge-pill badge-primary text-white">Nomor {{forloop.counter}}</a>
                                    {% endif %}   
                                {% else %}
                                    <a href="#" class="badge badge-pill badge-secondary text-white">Nomor {{forloop.counter}}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </td>
                    <td>{{ library.user.phone|default:'-' }}</td>
                    <td>
                        {% if request.resolver_match.app_name == 'management' %}
                        <a href="{% url 'management:evaluation' library.id %}">Lihat Evaluasi</a>
                        {% elif request.resolver_match.app_name == 'mentor' %}
                            <a href="{% url 'mentor:evaluation-create' library.id %}">Evaluasi</a>
                        {% endif %} 
                    </td>
                    <td>
                        <a href="#collapse{{ forloop.counter }}" 
                            class="td-collapse text-dark" data-toggle="collapse" role="button"  aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                            <i class="las la-angle-down"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="d-flex align-items-center small mt-2">
    <span class="badge badge-pill badge-secondary text-secondary mr-2">.</span>
    <span class="mr-3">Belum Mengumpulkan Tugas</span>
    <span class="badge badge-pill badge-primary text-warning mr-2">.</span>
    <span class="mr-3">Sudah Mengumpulkan Tugas</span>
</div>
