{% extends 'base_app.html' %}
{% load static %}
{% load custom_filter %}

{% block body_css %}
<link rel="stylesheet" href="{% static 'app/css/dashboard.css' %}">
<style>
    .table-responsive {
        max-height: 50vh;
        overflow-y: scroll;
    }

    table td,
    .table td {
        text-align: center;
        padding: 0px;
    }

    .table th {
        padding: 5px;
        text-align: center;
    }

    td.checked {
        background-color: #3abcd8;
    }
</style>
{% endblock %}

{% block body_block %}

<div class="container py-lg-5 pb-5">
    <div class="row pt-3">
        <div id="header-dashboard" class="col-12 mb-3">
            <h5>Dashboard Mentor</h5>
            <p>
                Hai, {{ user.firstname }}! <span v-html="selectedSmiley"></span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7">
            <span class="text-muted small">Statistik Kursus</span>
            <div class="statistic-row mb-3 mt-2">
                <div class="statistic-col card">
                    <div class="statistic-item">
                        <i class="las la-briefcase text-primary"></i>
                        <div>
                            <h4>2</h4>
                            <span class="text-muted">Kursus Aktif</span>
                        </div>
                    </div>
                </div>
                <div class="statistic-col card">
                    <div class="statistic-item">
                        <i class="las la-briefcase text-primary"></i>
                        <div>
                            <h4>{{user.libraries.all|count_query}}</h4>
                            <span class="text-muted">Total Kursus</span>
                        </div>
                    </div>
                </div>
                <div class="statistic-col card">
                    <div class="statistic-item">
                        <i class="las la-briefcase text-primary"></i>
                        <div>
                            <h4>0</h4>
                            <span class="text-muted">Kursus Selesai</span>
                        </div>
                    </div>
                </div>
                <div class="statistic-col card">
                    <div class="statistic-item">
                        <i class="las la-graduation-cap text-primary"></i>
                        <div>
                            <h4>78</h4>
                            <span class="text-muted">Total Siswa</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="card p-3">
                        <div class="d-flex justify-content-between mb-3">
                            <div class="my-1 small">
                                <span class="badge badge-pill badge-primary text-primary">.</span>
                                <span class="ml-2">Jadwal Kosong</span>
                            </div>
                            <a href="{% url 'mentor:schedule' %}" role="button" class="btn btn-sm btn-danger">Atur
                                Jadwal</a>
                        </div>
                        <div id="schedule-table" class="table-responsive">
                            <table class="table table-bordered small">
                                <thead>
                                    <tr>
                                        <th>Jam (GMT+7)</th>
                                        <th width="11%">Minggu</th>
                                        <th width="11%">Senin</th>
                                        <th width="11%">Selasa</th>
                                        <th width="11%">Rabu</th>
                                        <th width="11%">Kamis</th>
                                        <th width="11%">Jumat</th>
                                        <th width="11%">Sabtu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, i) in checklist">
                                        <th scoped="row"><span v-text="i+7"></span>.00</th>
                                        <td v-for="(subitem, j) in item" :class="{checked: subitem}"></td>

                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5">
            {% include 'ext/coming_soon_sessions.html' with sessions=user.mentor_session_active.all %}
        </div>
    </div>
</div>

{% endblock %}

{% block body_js %}
<script>
    Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
    const headerDashboard = new Vue({
        el: '#header-dashboard',
        data: {
            smiley: ['128515', '128075', '128512', '128513', '128516', '128578'],
            selectedSmiley: ''
        },
        created() {
            const idx = Math.floor(Math.random() * this.smiley.length);
            this.selectedSmiley = '&#' + this.smiley[idx] + ';'
        }
    });
    const scheduleTable = new Vue({
        el: '#schedule-table',
        data: {
            free_time_data: [],
            dayAssoc: ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"],
            checklist: [],
        },
        methods: {
            initSchedule: function (data) {
                for (var i = 7; i < 23; i++) {
                    arr = [];
                    for (var j = 0; j < 7; j++) {
                        let found = data.some(
                            (item) =>
                            item.day === this.dayAssoc[j] &&
                            parseInt(item.time.split(":", 1)) === i
                        );
                        if (found) {
                            arr.push(true);
                        } else {
                            arr.push(false);
                        }
                    }
                    this.checklist.push(arr);
                }
            },
        },
        created: function () {
            // this.initSchedule(this.free_time_data);
            let api_url = `/api/mentor/schedule/`;
            this.$http.get(api_url)
                .then((response) => {
                    // data = this.free_time_data;
                    this.initSchedule(response.data);
                })
                .catch((err) => {
                    this.loading = false;
                    console.log(err);
                })
        }
    });
</script>
{% endblock %}