{% extends 'base_app.html' %}
{% load static %}
{% load custom_filter %}

{% block body_block %}

<div class="container py-lg-5 mb-5">
  <div class="row pt-3">
    <div class="col-12 col-lg-3">
      {% include 'ext/side_menu.html' %}
    </div>
    <div class="col-12 col-lg-9">
      <div class="row">
        <div class="col-12">
          {% with mentor_data=user.mentor_data %}
          {% if mentor_data  %}

          <h5>Data Mentor</h5>
          <p>Anda dapat melihat berkas dan status mentor.</p>

          <div class="card mb-3">
						<div class="card-body">
							<table class="table table-borderless small">
								<tbody>
									<tr>
										<th scope="row" width="20%">Nomor KTP</th>
										<td>: {{ mentor_data.no_ktp }}</td>
									</tr>
									<tr>
										<th scope="row">Scan KTP</th>
										<td>: 
											<a href="{{mentor_data.ktp|mentor_data}}">
												<i class="las la-file-image mr-1"></i>
												<span>File KTP</span>
											</a>
										</td>
									</tr>
									<tr>
										<th scope="row">File Sertifikasi</th>
										<td>: 
											<a href="{{mentor_data.certification|mentor_data}}">
												<i class="las la-file-pdf mr-1"></i>
												<span>File Sertifikasi</span>
											</a>
										</td>
									</tr>
									<tr>
										<th scope="row">File CV</th>
										<td>: 
											<a href="{{mentor_data.cv|mentor_data}}">
												<i class="las la-file-pdf mr-1"></i>
												<span>File CV</span>
											</a>
										</td>
									</tr>
									<tr>
										<th scope="row">Portofolio</th>
										<td>: 
											<a href="{{mentor_data.portofolio|mentor_data}}">
												<i class="las la-file-pdf mr-1"></i>
												<span>File Portofolio</span>
											</a>
										</td>
									</tr>
									<tr>
										<th scope="row">NPWP</th>
										<td>: 
											<a href="{{mentor_data.npwp|mentor_data}}">
												<i class="las la-file-pdf mr-1"></i>
												<span>File NPWP</span>
											</a>
										</td>
									</tr>
									<tr>
										<th scope="row">Status Mentor</th>
										<td>: 
                      {% if mentor_data.status == 'AC' %}
                        <span class="badge badge-success">{{mentor_data.get_status_display}}</span>
                      {% else %}
                        <span class="badge badge-warning">{{mentor_data.get_status_display}}</span>
                      {% endif %}
										</td>
									</tr>
								</tbody>
							</table>
							
						</div>
					</div>
          {% endif %}

          
          {% if not user.is_mentor and mentor_data.status != "AC" %}
            <h5>Mendaftar sebagai Mentor</h5>
            <p>
              Ayo daftarkan diri Anda sebagai mentor dengan cara melengkapi isian dibawah ini.
            </p>
            {% if mentor_data.status == "DE" %}
              <div>
                Status Mentor: 
                  {% if mentor_data.status == 'AC' %}
                    <span class="badge badge-success">{{mentor_data.get_status_display}}</span>
                  {% else %}
                    <span class="badge badge-warning">{{mentor_data.get_status_display}}</span>
                  {% endif %}
              </div>
            {% endif %}

            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-12 col-lg-6 form-group">
                  {{ form.no_ktp.label_tag }}
                  {{ form.no_ktp }}
                  {{ form.no_ktp.errors }}
                </div>
                <div class="col-12 col-lg-6 form-group">
                  {{ form.ktp.label_tag }}
                  {{ form.ktp }}
                  {{ form.ktp.errors }}
                </div>
                <div class="col-12 col-lg-6 form-group">
                  {{ form.certification.label_tag }}
                  {{ form.certification }}
                  {{ form.certification.errors }}
                </div>
                <div class="col-12 col-lg-6 form-group">
                  {{ form.cv.label_tag }}
                  {{ form.cv }}
                  {{ form.cv.errors }}
                </div>
                <div class="col-12 col-lg-6 form-group">
                  {{ form.npwp.label_tag }}
                  {{ form.npwp }}
                  {{ form.npwp.errors }}
                </div>
                <div class="col-12 col-lg-6 form-group">
                  {{ form.portofolio.label_tag }}
                  {{ form.portofolio }}
                  {{ form.portofolio.errors }}
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
                </div>
              </div>
            </form>
          {% endif %}

          {% endwith %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}