{% extends 'base_app.html' %}
{% load static %}

{% block body_block %}

<h1>Mentor Registration</h1>

<h3>Registration Status : {{user.mentor_data.get_status_display}}</h3>

{% with mentor_data=user.mentor_data %}
  {% if mentor_data %}
    <a href="{{mentor_data.cv|default_if_none:'#'}}">cv</a>
    <a href="{{mentor_data.ktp|default_if_none:'#'}}">ktp</a>
    <a href="{{mentor_data.npwp|default_if_none:'#'}}">npwp</a>
    <a href="{{mentor_data.certification|default_if_none:'#'}}">certification</a>
    <a href="{{mentor_data.portofolio|default_if_none:'#'}}">portofolio</a>
    
    {% if mentor_data.status == "DE" %}
      <a href="{% url 'mentor:register-update' mentor_data.id %}">Update Mentor Data</a>
    {% endif %}

  {% endif %}
  {% if not user.is_mentor %}
    <form method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <div class="form-group mt-4">
          <button type="submit" class="btn btn-block btn-default pt-2 pb-2">Daftar Akun</button>
        </div>
      </form>
  {% endif %}
{% endwith %}



{% endblock %}