.text-muted {
  font-size: 14px;
}

.statistic-row {
  display: flex;
  justify-content: space-between;
  gap: 7px;
}

.statistic-col {
  margin-bottom: 10px;
}

.statistic-item {
  display: flex;
  align-items: center;
  padding: 5px;
}

.statistic-item div {
  line-height: 0.7em;
}

.statistic-item i {
  font-size: 28px;
  margin-right: 2px;
}

.statistic-item h4 {
  margin: 0;
  font-size: 1.2em;
}

.statistic-item span {
  font-size: 0.65em;
}

.schedule-course-item {
  display: flex;
  align-items: center;
  padding: 5px;
}

.schedule-course-item i {
  font-size: 48px;
  margin-right: 5px;
}

.schedule-course-item div {
  display: flex;
  flex-direction: column;
}

.schedule-course-title {
  font-weight: bold;
  font-size: 0.9em;
}

.schedule-course-detail {
  display: flex;
  flex-direction: column;
}

.schedule-course-detail span{
  font-size: 0.8em;
}

.schedule-course-detail i {
  font-size: 1.2em;
}

@media (max-width: 768px) {
  footer {
    display: none;
  }
}

@media (min-width: 768px) {
  .statistic-item {
    padding: 10px 65px 10px 15px;
  }

  .statistic-item i {
    font-size: 42px;
    margin-right: 15px;
  }

  .statistic-item h4 {
    font-size: 1.5em;
  }

  .statistic-item span {
    font-size: 0.7em;
  }

  .schedule-course-detail {
    flex-direction: row;
  }

  .schedule-course-detail i {
    margin-left: 10px;
  }
}
