{% load static %}
{% load i18n %}
<footer>
  <div class="container">
    <div class="row">
      <!-- Logo -->
      <div class="col-12 col-lg-3 mb-4 text-center">

        <img src="{% static 'app/img/logo-large.png' %}" alt="logo footer" class="logo img-fluid" />
        
      </div>
      <!-- Contact -->
      <div class="col-12 col-lg-4 mb-4">
        <h6>Kontak</h6>
        <div class="row">
          <div class="col-1"><i class="las la-envelope"></i></div>
          <div class="col">
            <span>museakademi.official@gmail.com</span>
          </div>
        </div>
        <div class="row">
          <div class="col-1"><i class="lab la-instagram"></i></div>
          <div class="col">
            <a href="https://www.instagram.com/museakademi/" class="text-white" target="_blank">@museakademi</a>
          </div>
        </div>
        <div class="row">
          <div class="col-1"><i class="lab la-facebook"></i></div>
          <div class="col">
            <a href="https://www.facebook.com/musee.malang.1" class="text-white" target="_blank">Musė Akademi</a>
          </div>
        </div>
        <div class="row">
          <div class="col-1"><i class="las la-phone"></i></div>
          <div class="col">
            <a href="https://wa.me/6285755055835" class="text-white" target="_blank">+62 857-5505-5835</a>
          </div>
        </div>
        <div class="row">
          <div class="col-1"><i class="las la-home"></i></div>
          <div class="col">
            <span>PUI-PT DLI Gedung B15 Universitas Negeri Malang jalan Semarang 5, Kota Malang</span>
          </div>
        </div>
        
      </div>
      <!-- Links -->
      <div class="col-12 col-lg-3 mb-4">
        <h6>Tautan</h6>
        <ul>
          <li><a href="#!">PUIPT DLI Universitas Negeri Malang</a></li>
          <li><a href="#!">PUIPT Pariwisata Udayana Bali</a></li>
          <li><a href="#!">Dinas Pariwisata Kota Malang</a></li>
          <li><a href="#!">Dinas Pendidikan Kota Malang</a></li>
          <li><a href="#!">Ristekbrin RI</a></li>
          <li><a href="#!">Kemendikbud RI</a></li>
        </ul>
      </div>
      
      <!-- Developed by -->
      <div class="col-12 col-lg-2 mb-4">
        <h6>Info</h6>
        <ul>
          <li><a href="#!">Profil Produk</a></li>
          <li><a href="#!">Buku Manual</a></li>
          <li><a href="#!">Lisensi</a></li>
          <li><a href="#!">HAKI</a></li>
          <li><a href="#!">Penghargaan</a></li>
        </ul>

        <!-- FORM CHANGE LANGUANGE -->
        {% get_available_languages as LANGUAGES %}
        {% get_current_language as LANGUAGE_CODE %}
        
        <form action="{% url 'change_language' %}" method="post">
          {% csrf_token %}

          {% if LANGUAGE_CODE == 'id' %}
            <input name="next" type="hidden" value="{{ request.get_full_path }}" />
          {% else %}
            <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
          {% endif %}
            <select name="language">
              {% for language in LANGUAGES %}
              <option value="{{ language.0 }}" {% if language.0 == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.0|language_name_local }} ({{ language.0 }})
              </option>
            {% endfor %}
          </select>
          <input type="submit" value="{% trans 'Ganti Bahasa' %}">
        </form>

        <!-- END FORM CHANGE LANGUANGE -->

        <!-- <a href="https://digistaro.com/" target="_blank">
          <img class="another-logo" src="{% static 'app/img/logo-digistar.png' %}" alt="digistar" width="150" />
        </a> -->

      </div>
    </div>
    <div class='text-center'>
      <h6>Supported By:</h6>
      <img style="max-height:60px" src="{% static 'app/img/dli_logo.png' %}" alt="logo footer" class=" mb-3" />
    </div>
    <p>Copyright &copy; 2020. Muse Akademi</p>
  </div>
</footer>