{% load i18n %}
{% load static %}
{% load custom_filter %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html lang="{{LANGUAGE_CODE}}">
<html>
  <head>
    <title>{% if title %} {{title}} {% else %} {% trans "Muse Akademi" %} {% endif %}</title>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'app/img/favicon.png' %}" type="image/x-icon">

    <!-- BASE CSS -->
    {% include 'base_app_css.html' %}

    <!-- CUSTOM CSS -->
    {% block body_css %} {% endblock %}
  </head>
  <body>
      <!-- NAVBAR -->
      <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm">
        <div class="container">
          {% if user.is_authenticated %}
          <a 
            href="javascript:void(0)" 
            class="d-lg-none" 
            v-if="!showSearchInput"
            @click="showSidebar = true">
            <i class="las la-bars"></i>
          </a>
          {% endif %}
          <a
            class="navbar-brand"
            href="{% url 'app:index' %}"
            v-if="!showSearchInput"
          >
            <img
              src="{% static 'app/img/logo-navbar.png' %}"
              alt=""
              height="30"
          /></a>

          <form
            class="my-1 ml-lg-3"
            action="{% url 'app:courses' %}"
            method="GET"
            :class="{show: showSearchInput}"
          >
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text bg-light" id="search-addon">
                  <i class="las la-search"></i>
                </span>
              </div>
              <input
                type="search"
                name="title__icontains"
                class="form-control bg-light"
                placeholder="Cari kursus, kategori, dan mentor"
                aria-describedby="seacrh-addon"
              />
            </div>
            <a
              href="javascript:void(0)"
              class="ml-4 d-lg-none"
              @click="showSearchInput = false"
            >
              <i class="las la-times"></i>
            </a>
          </form>

          <a
            href="javascript:void(0)"
            class="d-lg-none"
            @click="showSearchInput = true"
            v-if="!showSearchInput"
          >
            <i class="las la-search"></i>
          </a>

          <div class="navbar-collapse" :class="{show: showBtnBottom}">
            <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a 
                    class="nav-link {% if request.resolver_match.view_name == 'app:dashboard' %}active{% endif %}" 
                    href="{% url 'app:dashboard' %}">
                    <i class="las la-tachometer-alt d-lg-none"></i>
                    <span>Dasbor</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a 
                    class="nav-link {% if request.resolver_match.view_name == 'app:library' %}active{% endif %}" 
                    href="{% url 'app:library' %}">
                    <i class="las la-chalkboard-teacher d-lg-none"></i>
                    <span>Kursus Saya</span>
                  </a>
                </li>

                {% if user.is_authenticated and user.is_mentor %}
                  <li class="nav-item nav-item-mentor dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navDropdownMentor" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Mentor
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navDropdownMentor">
                      <a class="dropdown-item" href="{% url 'mentor:dashboard' %}">Dasbor</a>
                      <a class="dropdown-item" href="{% url 'mentor:courses' %}">Kursus Mentor</a>
                      <a class="dropdown-item" href="{% url 'mentor:schedule' %}">Jadwal Mentor</a>
                      <a class="dropdown-item" href="{% url 'mentor:register' %}">Data Mentor</a>
                    </div>
                  </li>
                {% endif %}

                {% if user.is_authenticated and user.is_staff %}
                  <li class="nav-item nav-item-mentor dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navDropdownStaff" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manajemen</a>
                    <div class="dropdown-menu" aria-labelledby="navDropdownStaff">
                      <a class="dropdown-item" href="{% url 'management:dashboard' %}">Dasbor</a>
                      <a class="dropdown-item" href="{% url 'management:courses' %}">Manajemen Kursus</a>
                      <a class="dropdown-item" href="{% url 'management:mentor-management' %}">Manajemen Mentor</a>
                      <a class="dropdown-item" href="{% url 'management:order-management' %}">Manajemen Pembayaran</a>
                    </div>
                  </li>
                {% endif %}

                <li class="nav-item nav-item-account dropdown">
                  <a class="nav-link nav-link-account dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="account-pic" src="{{ user.profile_pic|profile_pic  }}" alt="">
                    <span>{{ user.firstname }}</span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'user:profile' %}">Profil Saya</a>
                    {% if user.is_authenticated and not user.is_mentor %}
                      <a class="dropdown-item" href="{% url 'mentor:register' %}">Daftar sebagai Mentor</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'user:logout' %}">Keluar</a>
                  </div>
                </li>
                <li class="nav-item d-lg-none">
                  <a 
                    class="nav-link {% if request.resolver_match.view_name == 'user:profile' %}active{% endif %}" 
                    href="{% url 'user:profile' %}">
                    <i class="las la-user-circle d-lg-none"></i>
                    <span>Saya</span>
                  </a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a 
                    class="nav-link {% if request.resolver_match.view_name == 'app:index' %}active{% endif %}" 
                    href="{% url 'app:index' %}">
                    <i class="las la-home d-lg-none"></i>
                    <span>Beranda</span>
                  </a>
                </li>

                <li class="nav-item">
                  <a 
                    class="nav-link {% if request.resolver_match.view_name == 'app:courses' %}active{% endif %}" 
                    href="{% url 'app:courses' %}">
                    <i class="las la-chalkboard-teacher d-lg-none"></i>
                    <span>Kursus</span>
                  </a>
                </li>

                <li class="nav-item d-lg-none">
                  <a
                    class="nav-link"
                    href="javascript:void(0)"
                    @click="showBtnBottom = !showBtnBottom"
                  >
                    <i class="las la-user d-lg-none"></i>
                    <span>Akun</span>
                  </a>
                </li>
              {% endif %}
            </ul>
            {% if user.is_authenticated %}
              {% comment %} sebagai penyangga {% endcomment %}
              <a class="btn btn-sm btn-default btn-navbar d-lg-none" href="javascript:void(0)">null</a>
              <a class="btn btn-sm btn-default btn-navbar d-lg-none" href="javascript:void(0)">null</a>
              {% comment %} agar nav bottom tidak tenggelam {% endcomment %}
            {% else %}
              <a
                class="btn btn-sm btn-primary btn-navbar"
                href="{% url 'user:login' %}"
              >
                Masuk
              </a>
              <a
                class="btn btn-sm btn-outline-primary btn-navbar"
                href="{% url 'user:register' %}"
              >
                Daftar
              </a>
            {% endif %}
          </div>
          
          {% if user.is_authenticated %}
            <div class="sidebar" :class="{show: showSidebar}">
              <div class="sidebar-header">
                <div>
                  <img class="account-pic" src="{{ user.profile_pic|profile_pic  }}" alt="">
                  <span class="sidebar-title">
                    {{user.firstname}} {{user.lastname}} <br>
                    <span class="text-muted sidebar-subtitle ">{{ user.username }}</span>
                  </span>
                </div>
                <a href="javascript:void(0)" @click="showSidebar = false">
                  <i class="las la-times"></i>
                </a>
              </div>
              <div class="sidebar-menu">
                <span class="sidebar-menu-divider">Menu</span>
                
                {% include 'ext/link_menu.html' %}

                {% if user.is_authenticated and user.is_mentor %}
                  <span class="sidebar-menu-divider">Mentor</span>
                  <a href="{% url 'mentor:dashboard' %}" class="sidebar-link">
                    <i class="las la-graduation-cap"></i>
                    <span>Dasbor Mentor</span>
                  </a>
                  <a href="{% url 'mentor:courses' %}" class="sidebar-link">
                    <i class="las la-graduation-cap"></i>
                    <span>Kursus Mentor</span>
                  </a>
                  <a href="{% url 'mentor:schedule' %}" class="sidebar-link">
                    <i class="las la-graduation-cap"></i>
                    <span>Jadwal Mentor</span>
                  </a>
                  <a href="{% url 'mentor:register' %}" class="sidebar-link">
                    <i class="las la-graduation-cap"></i>
                    <span>Data Mentor</span>
                  </a>
                {% endif %}

                {% if user.is_authenticated and user.is_staff %}
                  <span class="sidebar-menu-divider">Manajemen</span>
                  <a href="{% url 'management:dashboard' %}" class="sidebar-link">
                    <i class="las la-graduation-cap"></i>
                    <span>Dashbor</span>
                  </a>
                  <a href="{% url 'management:courses' %}" class="sidebar-link">
                    <i class="las la-graduation-cap"></i>
                    <span>Manajemen Kursus</span>
                  </a>
                  <a href="{% url 'management:mentor-management' %}" class="sidebar-link">
                    <i class="las la-graduation-cap"></i>
                    <span>Manajemen Mentor</span>
                  </a>
                {% endif %}
                <a href="{% url 'user:logout' %}" class="sidebar-link text-danger">
                  <i class="las la-sign-out-alt"></i>
                  <span>Keluar</span>
                </a>
              </div>
            </div>
          {% endif %}
        </div>
      </nav>

    <!-- CONTENT -->
    <main>
      <!-- MESSAGES -->
      {% include 'ext/messages.html' with messages=messages %}
      
      {% block body_block %} {% endblock %}
    </main>

    <!-- BASE JS -->
    {% include 'base_app_footer.html' %}
    
    <!-- BASE JS -->
    {% include 'base_app_js.html' %}

    <!--CUSTOM JS -->
    {% block body_js %} {% endblock %}
  </body>
</html>
