<h1>Admin Management Courses Classsroom Dashboard</h1>

<h3>Course : <a href="{% url 'management:classroom' course.id %}">{{course.title}}</a></h3>

<h3>Session :</h3>
<ul>
    {% for session in course.sessions %}
        <li>
            <a href="#">{{session.title}}</a>
            //
            <a href="{% url 'management:session-update' session.id %}">Edit</a>
            //
            <form method="post" id="DeleteSession{{session.id}}" action="{% url 'management:session-delete' session.id %}">
                {% csrf_token %}
                <a href="javascript:void(0)" @click="submitItem('DeleteSession{{session.id}}')">Delete</a>
            </form>
        </li>
    {% endfor %}
</ul>
    
<h3>Exam :</h3>
<a href="{% url 'management:exam' view.kwargs.course_pk %}">Exams</a>

<h3>Tambah Sesi :</h3>
<form method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <div class="form-group mt-4">
      <button type="submit" class="btn btn-block btn-default pt-2 pb-2">Daftar Akun</button>
    </div>
</form>
