
{% extends 'base_app.html' %}
{% load static %}

{% block body_css %}
  <link rel="stylesheet" href="{% static 'app/css/auth.css' %}" />
{% endblock %}

{% block body_block %}

<div class="container mt-5 pb-5">
  {{error}}
  <div class="row">
    <div class="col-12 col-lg-8 d-flex justify-content-center align-items-start">
      <img 
        class="logo mb-5" 
        src="{% static 'app/img/muse-academy-logo-no-text.png' %}"
        alt=""
      />
      <img
        class="illustration"
        src="{% static 'app/img/illustration-banner.png' %}"
        alt=""
      />
    </div>
    <div class="col-12 col-lg-4">
      <div class="text-center text-lg-left">
        <h5>Masuk</h5>
        <p>
          <small>
            Gunakan nama pengguna dan kata sandi Anda untuk masuk ke aplikasi
          </small>
        </p>
      </div>
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input 
            type="text" 
            class="form-control" 
            name="usernameoremail" 
            placeholder="Nama Pengguna atau Email" />
        </div>
        <div class="form-group">
          <input 
            type="password" 
            class="form-control" 
            name="password" 
            placeholder="Kata Sandi" />
        </div>
        <input type="hidden" name="next" value="{{next}}" />
        <button type="submit" class="btn btn-sm btn-block btn-primary">
          Masuk
        </button>
      </form>
      <div class="text-muted text-center py-4">
        <small>atau</small>
      </div>
      <a 
        href="{% url 'social:begin' 'google-oauth2' %}" 
        class="btn-google btn btn-sm btn-block" >
        <i class="fa fa-google"></i>
        <span class="ml-2">Masuk dengan Google</span>
      </a>
      <div class="text-center py-3">
        <small>
          <a href="#!">Lupa Kata Sandi?</a>
          <br />
          Belum punya akun?
          <a href="{% url 'user:register' %}">Daftarkan segera!</a>
        </small>
      </div>
    </div>
  </div>
</div>

{% endblock %}