{% extends 'base_app.html' %}
{% load widget_tweaks %}
{% load static %}

{% block body_block %}

<div class="container">
    <div class="row justify-content-center align-items-center h-75">
        <div class="col-12 col-lg-4">
            <div class="text-center">
                <h5>Lupa Kata Sandi</h5>
                <p class="small">
                    Kami akan mengirimkan email untuk mengatur ulang kata sandi
                </p>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {% render_field form.email class+='form-control' placeholder='Email Anda' %}
                </div>
                <button type="submit" class="btn btn-sm btn-block btn-primary">
                    Kirim
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}