{% extends 'base_app.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block body_block %}
<div class="container mt-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4">
            <div class="text-center">
                <img class="mb-5" src="{% static 'app/img/illustration-banner.png' %}" alt="" width="50%" />
                <h5><strong>Password Telah Diubah</strong></h5>
                <p>
                    <small>
                        {% trans "Your password has been set.  You may go ahead and log in now." %}
                    </small>
                </p>
            </div>
            <input type="hidden" name="next" value="{{next}}" />
            <a href="{{ login_url }}" class="btn btn-sm btn-block btn-primary">Masuk</a>
        </div>
    </div>
</div>


{% endblock %}