{% extends 'base_app.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block body_block %}
<div class="container mb-5">
    <div class="row justify-content-center align-items-center h-75">
        <div class="col-12 col-lg-6">
            <div class="text-center">
                <h5>Atur Ulang Kata Sandi</h5>
                <p class="small text-muted">
                    Gunakan kombinasi huruf besar, kecil, dan angka, minimal 8 karakter
                </p>
            </div>
            {% if validlink %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {% render_field form.new_password1 class+='form-control' placeholder='Kata Sandi Baru' %}
                        {{ form.new_password1.errors }}
                        <div class="card small mt-2" style="border-left: 5px solid #FFBE5C !important">
                                <span class="ml-3 mt-2"><b>Catatan</b></span>
                                {{ form.new_password1.help_text }}
                        </div>
                    </div>
                    <div class="form-group">
                        {% render_field form.new_password2 class+='form-control' placeholder='Ulangi Kata Sandi' %}
                        {{ form.new_password2.errors }}
                    </div>
                    <button type="submit" class="btn btn-sm btn-block btn-primary">
                        Atur Ulang
                    </button>
                </form>
            {% else %}

            <p class="text-center">
                {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
                <br><br>
                <a href="{% url 'user:login' %}" class="btn btn-sm btn-primary">Masuk</a>
            </p>
            
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
