

{% extends 'base_app.html' %}
{% block body_block %}

<div class="container py-lg-5">
    <div class="row pt-3">
        <div class="col-12">
            <h5>Ganti Kata Sandi</h5>
            <p class="small text-muted">
                Gunakan kombinasi huruf besar, huruf kecil, dan angka minimal 8 karakter.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" name='action' class="btn btn-primary btn-block">Simpan Perubahan</button>
      
            </form>
        </div>
    </div>
</div>

{% endblock %}