
{% load i18n %}
{% extends 'base_app.html' %}
{% block body_block %}
<div class="card bg-secondary border-0 mb-0">
    <div class="card-body px-lg-5 py-lg-5">
        <div class="text-center text-muted mb-4">
            <h1>Password Has Been Updated</h1>
        </div>


        <div class="text-center">
            <p><b>{% trans "Your password has been set.  You may go ahead and log in now." %}</b></p>
            <input type="hidden" name="next" value="{{next}}" />
            <a href="{{ login_url }}" class="btn btn-primary my-4">Sign in</a>
        </div>

    </div>
</div>


{% endblock %}