{% load widget_tweaks %}
{% load i18n %}
{% extends 'base_app.html' %}
{% block body_block %}
<div class="card bg-secondary border-0 mb-0">
    <div class="card-body px-lg-5 py-lg-5">
        <div class="text-center text-muted mb-4">
            <small>Reset Password</small>
        </div>
        {% if validlink %}

        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}

            <div class="text-center">
                <button type="submit" class="btn btn-primary my-4">Reset</button>
            </div>
        </form>
        {% else %}

        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
        </p>

        {% endif %}
    </div>
</div>

{% endblock %}
