{% extends 'base_app.html' %}
{% load widget_tweaks %}
{% load static %}

{% block body_block %}

<div class="container mt-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4">
            <div class="text-center">
                <img class="mb-5" src="{% static 'app/img/illustration-banner.png' %}" alt="" width="50%" />
                <h5><strong>Lupa Kata Sandi</strong></h5>
                <p>
                    <small>
                        Kami akan mengirimkan email untuk mengatur ulang kata sandi
                    </small>
                </p>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{form.as_p}}
                </div>
                <button type="submit" class="btn btn-sm btn-block btn-primary">
                    Kirim
                </button>
            </form>
            <div class="text-center py-3">
                <small>
                    Belum menerima email?
                    <a href="#!">Kirim Ulang</a>
                </small>
            </div>
        </div>
    </div>
</div>

{% endblock %}