{% load widget_tweaks %}
{% load i18n %}
{% extends 'base_app.html' %}
{% block body_block %}
<div class="card bg-secondary border-0 mb-0">
    <div class="card-body px-lg-5 py-lg-5">
        <div class="text-center text-muted mb-4">
            <h1>{{title}}</h1>
        </div>
        <div style="text-align: center">
            <p><b>{% trans 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}
                </b></p>

            <p><b>{% trans 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}
            </b></p>
            <a href="{% url 'app:index' %}">Index</a>
        </div>

    </div>
</div>
{% endblock %}
