{% extends 'base_app.html' %}

{% load static %}
{% load widget_tweaks %}
{% block body_block %}

  <div class="col-md-5">

    <div class="sign-in-logo text-center">
      <img src="{% static 'app/img/muse-academy-logo-long.png' %}" class="img-fluid sign-in-logo-img">
    </div>

    {% if registered %}
    <h2>Already registered Login <a href="{% url 'user:login' %}">Here</a> </h2>
    {% endif %}
    {% if activation %}
    <h2>Thank you for registering, {{activation}} </h2>
    {% endif %}

    <div class="sign-in-label">
      <h4>Daftar Akun Muse Academy</h4>
      <small class="text-muted">Ayo daftarkan diri kamu di Muse Academy</small>
    </div>

    <form method="POST">
      {% csrf_token %}
      {% include 'ext/form_group_no_label.html' with form=user_form %}

      <div class="form-group mt-4">
        <button type="submit" class="btn btn-block btn-default pt-2 pb-2">Daftar Akun</button>
      </div>

      <div class="text-center mt-3 text-muted">
        <small>Atau</small>
      </div>
    </form>
    <div class="form-group text-center mt-2">
      <div class="btn-group pt-2 pb-2" role="group">
        <button type="submit" class="btn btn-white ">
          
          <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-neutral btn-icon">
            <i class="fa fa-google"></i>
          </a>
        </button>
        
      </div>
    </div>

    <div class="text-center mt-4">
      <small style="display:block">Sudah punya akun? <a href="{% url 'user:login' %}">Login</a> sekarang!</small>
    </div>

  </div>
{% endblock %}