{% extends 'base_app.html' %}
{% load static %}
{% load widget_tweaks %}

{% block body_css %}
<link rel="stylesheet" href="{% static 'app/css/auth.css' %}" />
{% endblock %}


{% block body_block %}

<div class="container mb-5">
	<div class="row mt-lg-5 justify-content-center">
		<div class="col-12 col-lg-4">
			{% if registered %}
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				<small>
					<strong>Anda sudah terdaftar!</strong><br>
					Silahkan <a href="{% url 'user:login' %}">Masuk Akun Anda</a>.
				</small>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% endif %}

			<div class="text-center">
				<h5>Mendaftar</h5>
				<p class="small text-muted">
					Lengkapi data untuk dapat melanjutkan proses pendaftaran akun
				</p>
			</div>

			<form method="post">
				{% csrf_token %}
				{% include 'ext/form_group_no_label.html' with form=user_form %}
				<button type="submit" class="btn btn-sm btn-block btn-primary">
					Daftar Akun
				</button>
			</form>

			<div class="text-muted text-center small py-2">atau</div>

			<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn-google btn btn-sm btn-block">
				<i class="fa fa-google"></i>
				<span class="ml-2">Daftar dengan Google</span>
			</a>

			<div class="text-center small py-3">
				Sudah punya akun? <a href="{% url 'user:login' %}">Masuk disini!</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}